<div class="add now-banner ver_vi">
    <div class="container">
        <div class="now-search">
            <div>
                <h1 class="title">Đặt Đồ ăn, giao hàng từ 20'...</h1>
                <div class="local">có 31374 địa điểm ở Hà Nội từ 00:00 - 23:59</div>
            </div>
            <div class="form-search">
                <div class="input-group"><input type="text" id="txtSearchHome"
                        placeholder="Tìm địa điểm, món ăn, địa chỉ..." value="" [(ngModel)]="namesearch"><a
                        href="/home/danh-sach-dia-diem/{{namesearch}}"><button type="button"
                            class="btn btn-search"><span class="icon icon-search"></span><i class="fas fa-search" style="font-size: 20px;"></i></button></a></div>
            </div>
            <div class="category-list-filter"><a href="/home/danh-sach-dia-diem/All"><span
                        class="category-item ">All</span></a><a
                    href="/home/danh-sach-dia-diem/đồ%20ăn"><span class="category-item ">Đồ
                        ăn</span></a><a href="/home/danh-sach-dia-diem/drink"><span
                        class="category-item ">Đồ uống</span></a><a
                    href="/ha-noi/danh-sach-dia-diem-phuc-vu-vegetarian-giao-tan-noi"><span class="category-item ">Đồ
                        chay</span></a><a
                    href="/ha-noi/danh-sach-dia-diem-phuc-vu-desserts-giao-tan-noi"><span class="category-item ">Tráng
                        miệng</span></a><a href="/home/danh-sach-dia-diem/Homemade"><span
                        class="category-item ">Homemade</span></a><a
                    href="/ha-noi/danh-sach-dia-diem-phuc-vu-streetfood-giao-tan-noi"><span class="category-item ">Vỉa
                        hè</span></a><a href="/home/danh-sach-dia-diem/pizza"><span
                        class="category-item ">Pizza/Burger</span></a><a
                    href="/ha-noi/danh-sach-dia-diem-phuc-vu-chicken-giao-tan-noi"><span class="category-item ">Món
                        gà</span></a><a href="/home/danh-sach-dia-diem/hotpot"><span
                        class="category-item ">Món lẩu</span></a><a
                    href="/home/danh-sach-dia-diem/sushi"><span
                        class="category-item ">Sushi</span></a><a
                    href="/home/danh-sach-dia-diem/mi"><span class="category-item ">Mì
                        phở</span></a><a href="/home/danh-sach-dia-diem/rice"><span
                        class="category-item ">Cơm hộp</span></a></div>
            <div>
                <div class="font18 mb-2 mt-3">Sử dụng App Marketgo để có nhiều giảm giá <br>và trải nghiệm tốt hơn
                </div><a target="_blank" rel="noopener noreferrer"
                    href="https://itunes.apple.com/us/app/deliverynow/id1137866760" title="App Store"><span
                        class="icon icon-app-store-big"></span></a><a target="_blank" rel="noopener noreferrer"
                    href="https://play.google.com/store/apps/details?id=com.deliverynow" title="Google play"><span
                        class="icon icon-gg-play-big"></span></a>
            </div>
        </div>
    </div><br>
</div>