.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.now-search-filter {
    padding-top: 15px;
}
.now-search-filter .nav-filter {
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    padding-bottom: 8px;
    padding-top: 15px;
}
.now-search-filter .tag-filter {
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
}
.now-search-filter .list-filter {
    float: left;
    padding-top: 10px;
}
.float-right {
    margin-left: 999px;
}
.now-search-filter .list-filter .item-filter {
    color: #6d6f71;
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    position: static;
}

.now-list-restaurant {
    border-radius: 6px;
    margin-bottom: 20px;
}
.now-list-restaurant .list-restaurant {
    margin: 0 -10px;    
}
.now-search-filter .list-filter .item-filter.show .dropdown-toggle {
    background-color: #fff;
    font-weight: 700;
}
.now-search-filter .list-filter .dropdown-toggle {
    position: relative;
    cursor: pointer;
    padding: 3px 16px 8px;
    display: inline-block;
    border-radius: 6px 6px 0 0;
}
.now-search-filter .list-filter .item-filter.show .container-box-filter {
    display: block;
}
.now-search-filter .list-filter .container-box-filter {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 2;
    height: 180px;
    width: 868px;
    border-radius: 0 6px 6px 6px;
    overflow-y: auto;
    padding: 15px;
    box-shadow: 1px 1px 5px 0 rgb(50 50 50 / 40%);
    display: none;
    margin-top: -6px;
}
.now-search-filter .list-filter .container-box-filter .custom-checkbox {
    float: left;
    width: 33.33%;
    margin-bottom: 5px;
}
/* .custom-checkbox input {
    position: absolute;
    left: -99px;
    visibility: hidden;
} */
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.custom-checkbox label {
    padding-left: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin: 0;
}

.now-search-filter .result {
    font-size: 13px;
    float: left;
    padding: 10px;
}
.now-search-filter .filter-sort {
    display: block;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    color: #252525;
    font-size: .8rem;
    font-weight: 300;
    height: 40px;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 5px 5px 5px 7px;
    position: relative;
    text-indent: 0;
    vertical-align: bottom;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.now-search-filter .tag-filter {
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
}
.now-search-filter .tag-filter .widget-tag {
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    padding: 4px 7px;
    background-color: #d7d7d7;
    border-radius: 2px;
}
.now-search-filter .tag-filter .key-word {
    font-size: 14px;
    font-weight: 700;
}
.btn-delete-tag {
    line-height: 10px;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: -6px;
    right: -7px;
    color: #f2f2f2;
    background-color: #6d6f71;
    border-radius: 50%;
    text-align: center;
    width: 12px;
    height: 12px;
}

.now-list-restaurant .item-restaurant {
    width: 20%;
    padding: 10px;
    float: left;
}
.now-list-restaurant .item-content {
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    display: block;
}
a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.now-list-restaurant .img-restaurant {
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    height: 137px;
    background: #eaeaea;
}
.now-list-restaurant .item-restaurant .tag-preferred {
    text-transform: none;
    position: absolute;
    background: #f13233;
    color: #fff;
    bottom: 5px;
    left: 7px;
    z-index: 1;
    padding: 3px 5px;
}
.now-list-restaurant .item-restaurant .tag-preferred i {
    padding-left: 2px;
    padding-right: 5px;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.now-list-restaurant .img-restaurant img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img {
    vertical-align: middle;
    border-style: none;
}

.now-list-restaurant .info-restaurant {
    border: 1px solid #d7d7d7;
    border-radius: 0 0 6px 6px;    
}

.now-list-restaurant .info-basic-res {
    padding: 5px 8px;
    border-bottom: 1px solid #ebebeb;
}
.now-list-restaurant .info-restaurant .name-res {
    font-size: 14px;
    font-weight: 700;
    color: #252525;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1px;
    padding-top: 5px;
}
.now-list-restaurant .info-restaurant .icon-quality-merchant {
    vertical-align: bottom;
}
.icon-quality-merchant, .icon-quality-merchant-medi {
    background-image: url(/assets/img/partner2x.png);
    background-size: cover;
}
.icon-quality-merchant {
    margin-right: 2px;
    width: 17px;
    height: 17px;
    margin-bottom: 17px;
}
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.now-list-restaurant .info-restaurant .address-res {
    font-size: 12px;
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.now-list-restaurant .content-promotion {
    font-size: 13px;
    color: #187caa;
    font-weight: 700;
    padding: 8px 8px 5px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fa-tag, .now-list-restaurant .content-promotion .fas {
    padding-right: 5px;
}
.now-list-restaurant .content-promotion .fas {
    color: #cf2127;
}
.opentime-status {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
}
.opentime-status .online {
    background-color: #6cc942;
    color: #329900;
}
.opentime-status .stt {
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    z-index: 2;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-21 {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
  }
  :host ::ng-deep.mat-paginator .mat-paginator-outer-container{
    display: block;
  }