<div class="container">
    <div class="now-search-filter">
        <div class="nav-filter clearfix">
            <div class="list-filter">
                <div class="item-filter "><span class="dropdown-toggle" id="District">Khu vực</span>
                    <div class="container-box-filter">
                        <div class="content">
                            <div class="custom-checkbox"><input type="checkbox" data-text="Ba Đình"
                                    id="district 20"><label for="district 20">Ba Đình</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Cầu Giấy"
                                    id="district 21"><label for="district 21">Cầu Giấy</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Đống Đa"
                                    id="district 22"><label for="district 22">Đống Đa</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Hà Đông"
                                    id="district 23"><label for="district 23">Hà Đông</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Hai Bà Trưng"
                                    id="district 24"><label for="district 24">Hai Bà Trưng</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Hoàn Kiếm"
                                    id="district 25"><label for="district 25">Hoàn Kiếm</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Hoàng Mai"
                                    id="district 26"><label for="district 26">Hoàng Mai</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Long Biên"
                                    id="district 27"><label for="district 27">Long Biên</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Tây Hồ"
                                    id="district 28"><label for="district 28">Tây Hồ</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Thanh Xuân"
                                    id="district 29"><label for="district 29">Thanh Xuân</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Gia Lâm"
                                    id="district 678"><label for="district 678">Gia Lâm</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Hoài Đức"
                                    id="district 679"><label for="district 679">Hoài Đức</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Thanh Trì"
                                    id="district 688"><label for="district 688">Thanh Trì</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Thường Tín"
                                    id="district 689"><label for="district 689">Thường Tín</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Bắc Từ Liêm"
                                    id="district 690"><label for="district 690">Bắc Từ Liêm</label></div>
                            <div class="custom-checkbox"><input type="checkbox" data-text="Nam Từ Liêm"
                                    id="district 945"><label for="district 945">Nam Từ Liêm</label></div>
                        </div>
                    </div>
                </div>
                <div class="item-filter "><span class="dropdown-toggle" id="Category">Phân loại</span>
                    <div class="container-box-filter">
                        <div class="content">
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Đồ ăn"
                                        id="category 1000000" checked=""><label for="category 1000000">Đồ ăn</label>
                                </div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Đồ uống"
                                        id="category 1000001"><label for="category 1000001">Đồ uống</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Đồ chay"
                                        id="category 1000002"><label for="category 1000002">Đồ chay</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Bánh kem"
                                        id="category 1000003"><label for="category 1000003">Bánh kem</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Tráng miệng"
                                        id="category 1000004"><label for="category 1000004">Tráng miệng</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Homemade"
                                        id="category 1000005"><label for="category 1000005">Homemade</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Vỉa hè"
                                        id="category 1000006"><label for="category 1000006">Vỉa hè</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Pizza/Burger"
                                        id="category 1000007"><label for="category 1000007">Pizza/Burger</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Món gà"
                                        id="category 1000008"><label for="category 1000008">Món gà</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Món lẩu"
                                        id="category 1000009"><label for="category 1000009">Món lẩu</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Sushi"
                                        id="category 1000010"><label for="category 1000010">Sushi</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Mì phở"
                                        id="category 1000011"><label for="category 1000011">Mì phở</label></div>
                            </div>
                            <div>
                                <div class="custom-checkbox"><input type="checkbox" data-text="Cơm hộp"
                                        id="category 1000012"><label for="category 1000012">Cơm hộp</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <div class="result">{{lengthp}} Kết quả</div><select class="filter-sort">
                    <option value="8">Đúng nhất</option>
                    <option value="3">Gần tôi</option>
                    <option value="36">Đánh giá</option>
                    <option value="35">Bán chạy</option>
                    <option value="37">Giao nhanh</option>
                </select>
            </div>
        </div>
        <div class="tag-filter">
            <div class="widget-tag">Phân loại: <span class="key-word">(1)</span><span class="btn-delete-tag"
                    id="restaurant_categories">x</span></div>
        </div>
    </div>
    <div class="now-list-restaurant">
        <div class="list-restaurant">
            <div class="item-restaurant col-3" *ngFor="let r of restaurant"><a target="_blank" class="item-content"
                    href="/home/shop/{{r.idShop}}">
                    <div class="img-restaurant">
                        <div class="tag-preferred"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Yêu thích</div><img
                            src="{{r.avatar}}"
                            class="">
                    </div>
                    <div class="info-restaurant">
                        <div class="info-basic-res">
                            <h4 class="name-res" title="Hoàng Huệ - Cơm Rang &amp; Bún Bò Trộn - Ngõ Tự Do"><span
                                    class="icon icon-quality-merchant"
                                    title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"></span>{{r.name}}</h4>
                            <div class="address-res" title="59 Ngõ Tự Do, Trần Đại Nghĩa, Hai Bà Trưng, Hà Nội">{{r.address}}</div>
                        </div>
                        <p class="content-promotion"><i class="fas fa-tag"></i></p>
                        <div class="opentime-status"><span class="stt online" title="Mở cửa"
                                style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                    </div>
                </a></div>
        </div>
    </div>
    <mat-paginator style="background-color: inherit; color: red;" [length]="lengthp" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        (page)="OnchangePage($event)">
    </mat-paginator>
    <div class="seo-footer-link">
        <h2><span style="font-size:18pt"><span style="font-family:Calibri,sans-serif"><span
                        style="color:#000000"><strong>Marketgo - Ứng dụng đặt đồ ăn nhanh - nhiều deal giảm
                            giá</strong></span></span></span></h2>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Ẩm thực
                        Thủ đô đa dạng các món ăn đặc trưng đầy sáng tạo luôn mang đến những trải nghiệm đầy mớ mẻ với
                        tất cả thực khách sành ăn ở Hà Nội. Từ những bát phở khói nghi ngút với lớp thịt bò tái ngọt,
                        đến bún chả, bún ram ăm ắp thịt thà, hay cháo sườn nghi ngút khói làm mê biết bao nhiêu chiếc
                        bụng đói.&nbsp;</span></span></span></p>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Tuy
                        nhiên, với nhịp sống bận rộn, guồng quay công việc tất bật, nhiều người đã lựa chọn lấp đầy
                        chiếc bụng đói của mình thông qua các ứng dụng đặt đồ ăn online để giúp cho việc tận hưởng bữa
                        ăn thêm ngon, lại dễ dàng hơn rất nhiều so với việc dành thời gian lui tới các địa điểm nhà
                        hàng, quán ăn mong muốn. Đi kèm với các ưu đãi như miễn phí ship, khuyến mãi cho người dùng mới…
                        ứng dụng ShopeeFood nhanh chóng vượt qua nhiều ứng dụng giao hàng với nhiều lựa chọn cửa hàng ở
                        16 tỉnh thành đang trở thành ứng dụng tiện ích giao đồ ăn nhanh chóng.</span></span></span></p>

        <h2><span style="font-size:18pt"><span style="font-family:Calibri,sans-serif"><span
                        style="color:#000000"><strong>Đa dạng gợi ý tìm kiếm theo sở thích</strong></span></span></span>
        </h2>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Người
                        dùng muốn ship đồ ăn nhanh thông qua ShopeeFood&nbsp;dễ dàng tìm kiếm các gợi ý hàng quán theo
                        sở thích. Các keyword được nhiều người tìm kiếm được trình bày rõ ràng như là một gợi ý giao đặt
                        đồ ăn nhanh chóng: </span></span></span><a
                href="https://shopeefood.vn/ha-noi/danh-sach-dia-diem-phuc-vu-food-giao-tan-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>đồ ăn</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a
                href="https://shopeefood.vn/ha-noi/danh-sach-dia-diem-phuc-vu-drink-giao-tan-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>đồ uống</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a
                href="https://shopeefood.vn/ha-noi/danh-sach-dia-diem-phuc-vu-vegetarian-giao-tan-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>đồ chay</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">… đến
                        các loại&nbsp; </span></span></span><a
                href="https://shopeefood.vn/ha-noi/danh-sach-dia-diem-phuc-vu-cake-pastry-giao-tan-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>bánh kem</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a
                href="https://shopeefood.vn/ha-noi/danh-sach-dia-diem-phuc-vu-desserts-giao-tan-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>tráng miệng</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a
                href="https://shopeefood.vn/ha-noi/danh-sach-dia-diem-phuc-vu-home-made-giao-tan-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>homemade</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a
                href="https://shopeefood.vn/ha-noi/danh-sach-dia-diem-phuc-vu-streetfood-giao-tan-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>vỉa hè</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">… Mở ứng
                        dụng,&nbsp; Chỉ cần nghĩ tới keyword mình đang muốn tìm, chọn lựa theo sở thích, ứng dụng sẽ đưa
                        bạn đến các tìm kiếm đúng với nhu cầu giao đặt đồ ăn một cách tiện lợi
                        nhất.</span></span></span></p>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Chỉ với
                        ứng dụng đặt đồ ăn ShopeeFood, bằng một cú chạm, học sinh sinh viên dễ dàng tìm ra các món ăn
                        vặt thật ngon từ các cửa hàng chuyên phục vụ cho mô hình này như: </span></span></span><a
                href="https://shopeefood.vn/ha-noi/quynh-anh-an-vat-online"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>Quỳnh Anh - ăn vặt
                                online</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">, </span></span></span><a
                href="https://shopeefood.vn/ha-noi/an-vat-pho-kham-thien"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>Ăn vặt phố Khâm
                                Thiên</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">, </span></span></span><a
                href="https://shopeefood.vn/ha-noi/tipu-snack-do-an-vat-online"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>Tipu
                                Snack</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">,… hay dân văn phòng sẽ thật mê
                        các chuỗi nhà hàng thức ăn nhanh: </span></span></span><a
                href="https://shopeefood.vn/thuong-hieu/lotteria"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>Lotteria</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a href="https://shopeefood.vn/ha-noi/umbala-banh-mi-xoi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>Umbala Bánh Mì &amp; Xôi</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a href="https://shopeefood.vn/ha-noi/go-pizza"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>Go Pizza</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">,
                    </span></span></span><a href="https://shopeefood.vn/thuong-hieu/the-pizza-company-ha-noi"><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>The Pizza Company</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000"> … hay
                        hẹn hò tại nhà với ẩm thực Á Âu đa dạng: </span></span></span><a
                href="https://shopeefood.vn/thuong-hieu/al-frescos-am-thuc-au-ha-noi"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>Al
                                Fresco’s</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">, </span></span></span><a
                href="https://shopeefood.vn/ha-noi/nha-hang-au-fabrik-tran-vu"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>nhà hàng Âu
                                Fabrik</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">, </span></span></span><a
                href="https://shopeefood.vn/ha-noi/nha-hang-fe-bach-mai"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>nhà hàng Fê - Bạch
                                Mai</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">, </span></span></span><a
                href="https://shopeefood.vn/thuong-hieu/isushi-buffet-nhat-ban"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>Isushi Buffet Nhật
                                Bản</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">...</span></span></span></p>

        <h2><span style="font-size:18pt"><span style="font-family:Calibri,sans-serif"><span
                        style="color:#000000"><strong>Cung cấp thật nhiều các loại khuyến mãi phù
                            hợp</strong></span></span></span></h2>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Ngoài
                        hỗ trợ các khuyến mãi hằng ngày như miễn phí ship trong phạm vi bán kính 3km, cho người dùng
                        mới… ứng dụng đặt đồ ăn ShopeeFood còn tổng hợp các khuyến mãi có sẵn phù hợp với địa chỉ bạn đã
                        thiết lập. Cũng như, các khuyến mãi này còn được tập hợp thành các bộ sưu tập đang diễn trong
                        tháng với các chương trình khác nhau, ví dụ: </span></span></span><a
                href="https://shopeefood.vn/bo-suu-tap/re-hon-tu-nau-hn"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>Rẻ hơn tự
                                nấu</u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">, </span></span></span><a
                href="https://shopeefood.vn/bo-suu-tap/sach-nhu-nha-lam-hn"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span style="color:#1155cc"><u>Sạch như nhà làm
                            </u></span></span></span></a><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="color:#000000">, </span></span></span><a
                href="https://shopeefood.vn/bo-suu-tap/freeship-0-dong"><span style="font-size:11pt"><span
                        style="font-family:Calibri,sans-serif"><span
                            style="color:#1155cc"><u>FreeshipXtra</u></span></span></span></a><span
                style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">... giúp
                        cho bạn dễ dàng cân nhắc theo kinh phí, hay sở thích. Không cần nghĩ ngợi nhiều mà chỉ cần chọn
                        mà thôi.</span></span></span></p>

        <h2><span style="font-size:18pt"><span style="font-family:Calibri,sans-serif"><span
                        style="color:#000000"><strong>Bộ lọc đa dạng và tiện dụng:</strong></span></span></span></h2>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Với bộ
                        lọc được ShopeeFood đã chuẩn bị sẵn, các bạn có thể dễ dàng tìm kiếm được hàng quán giao đồ ăn
                        bởi ShopeeFood phù hợp với yêu cầu của mình</span></span></span></p>

        <ul>
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#000000"><strong>Gần tôi</strong>: chỉ cần thực hiện đúng thao tác khi nhập địa
                            chỉ, app đặt đồ ăn online ShopeeFood sẽ mang đến các cửa hàng gần với bạn nhất. Điều này sẽ
                            giúp tiết kiệm rất nhiều chi phí thay vì phải di chuyển đến các hàng quán và ở nhà;
                            ShopeeFood ship đồ ăn tận nơi nhanh chóng với kinh phí kinh tế.</span></span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#000000"><strong>Bán chạy:</strong></span></span></span><span
                    style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000"> đâu
                            là những hàng quán có lượng đơn tốt nhất, được nhiều người dùng lựa chọn ở Thủ Đô, với mức
                            giá ưu đãi riêng theo từng cửa hàng. Do đó, ngoài việc chọn quán, bạn còn có thêm các gợi ý
                            lựa chọn đặt món online giá rẻ.</span></span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#000000"><strong>Đánh giá</strong>: thông qua đánh giá của các người dùng khác
                            trên nền tảng trải nghiệm Foody, người dùng ứng dụng đặt đồ ăn ShopeeFood dễ dàng cân nhắc
                            các lựa chọn của mình cho phù hợp.</span></span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                            style="color:#000000"><strong>Giao nhanh</strong>: những hàng quán đặt thức ăn với thời gian
                            thực hiện món nhanh, chỉ cần đặt đồ ăn và đợi, đơn hàng sẽ được ShopeeFood ship đồ ăn nhanh
                            tới bạn .</span></span></span></li>
        </ul>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Đó là
                        còn chưa kể, khi bạn chọn đặt đồ ăn online qua ShopeeFood, để tiện cho việc dùng món, còn được
                        chọn luôn hẹn giờ ship, bạn sẽ không cần phải lo về bữa ăn được đem tới mình quá muộn hay quá
                        sớm nữa nhé.</span></span></span></p>

        <h2><span style="font-size:18pt"><span style="font-family:Calibri,sans-serif"><span
                        style="color:#000000"><strong>Cài đặt ứng dụng đặt đồ ăn ShopeeFood, tận hưởng ưu đãi độc
                            quyền</strong></span></span></span></h2>

        <p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:#000000">Và để
                        đặt đồ ăn online với các ưu đãi độc quyền từ ShopeeFood, việc đầu tiên cần làm là bạn đừng quên
                        cài đặt ứng dụng ShopeeFood với nhiều gợi ý cho bữa ăn ngon với giá siêu tốt nhé. Cách thức rất
                        đơn giản, mở ứng dụng đặt đồ ăn online, tìm kiếm ngay bằng keyword món ăn, nhà hàng đang muốn
                        trải nghiệm. Tiếp đó chỉ cần chọn lựa món theo sở thích được gợi ý sẵn, hoặc lựa chọn hàng quán
                        có khuyến mãi phù hợp với túi tiền, và nhấn nút đặt món và chờ ShopeeFood giao thôi. Có thể tham
                        khảo các bộ sưu tập sẵn có do ShopeeFood soạn sẵn nếu trước đó vẫn còn lăn tăn câu hỏi “hôm nay
                        ăn gì?” nha! Chỉ cần như vậy là bạn đã lấp đầy niềm đam mê ăn uống của mình
                        rồi!</span></span></span></p>
    </div>
    <hr>
</div>