<div class="contain-main-home clearfix">
    <div class="container">
        <div class="main-right-home">
            <div class="user-get-local">
                <div class="row align-items-center no-gutters pointer">
                    <div class="col-auto"><span class="txt-blue txt-bold">Đồ ăn</span><i
                            class="fas fa-long-arrow-alt-right txt-gray-7 ml-2 font12"></i></div>
                    <div class="col pl-2 pr-2 txt-elipsis">Chọn địa chỉ giao hàng</div>
                    <div class="col-auto"><span class="pl-2 pr-2 link" data-toggle="modal"><i
                                class="fas fa-angle-right txt-gray-7"></i></span></div>
                </div>
            </div>
            <div class="now-list-restaurant deal-tab">

            </div>
            <app-listrestaurant></app-listrestaurant>
            <div class="end-check-point"></div>
        </div>
    </div>
</div>