.now-detail-restaurant {
    background-color: #fff;
    padding-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    height: 380px;
}
.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.now-detail-restaurant .detail-restaurant-img {
    width: 480px;
    height: 300px;
    position: relative;
    float: left;
}
.now-detail-restaurant .detail-restaurant-img img {
    width: 100%;
    height: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.now-detail-restaurant .detail-restaurant-info {
    color: #252525;
    float: right;
    width: 645px;
    padding-bottom: 15px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.now-detail-restaurant .detail-restaurant-img {
    width: 480px;
    height: 300px;
    position: relative;
    float: left;
}
.now-detail-restaurant .detail-restaurant-img img {
    width: 100%;
    height: 100%;
}
.now-detail-restaurant .breadcrumb {
    padding-left: 0;
    margin-bottom: 18px;
    list-style: none;
    overflow: hidden;
    margin-top: -2px;
    margin-top: 15px;
}
dl, ol, ul {
    margin-top: 0;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}
.now-detail-restaurant .detail-restaurant-info {
    color: #252525;
    float: right;
    width: 645px;
    padding-bottom: 15px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.now-detail-restaurant .breadcrumb .breadcrumb-item {
    float: left;
    position: relative;
    padding-right: 4px;
}
.now-detail-restaurant .breadcrumb .breadcrumb-link {
    font-size: 13px;
    color: #187caa;
}
a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.now-detail-restaurant .kind-restaurant {
    font-size: 11px;
    color: #959595;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
}

.now-detail-restaurant .kind-restaurant span {
    margin: auto 0;
}
.now-detail-restaurant .name-restaurant {
    font-size: 22px;
    color: #464646;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 33px;
}
.now-detail-restaurant .address-restaurant {
    font-size: 13px;
    margin-bottom: 2px;
}
.now-detail-restaurant .rating {
    margin-bottom: 4px;
    font-size: 14px;
}

.rating {
    font-size: 18px;
    vertical-align: middle;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.rating .stars {
    font-size: 14px;
    color: #ffc107;
    display: inline-block;
}
.rating .stars>span {
    padding-right: 2px;
}
.full {
    width: 100%;
}
.rating .stars>span {
    padding-right: 2px;
}
.now-detail-restaurant .rating .number-rating {
    background-color: #ffc107;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    margin: 0 5px;
}
.now-detail-restaurant .status-restaurant {
    margin-bottom: 6px;
}
.now-detail-restaurant .opentime-status {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}
.opentime-status {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
}
.now-detail-restaurant .opentime-status .stt {
    width: inherit;
    height: inherit;
    vertical-align: middle;
    display: inline-block;
    background-color: transparent;
}
.opentime-status .online {
    background-color: #6cc942;
    color: #329900;
}
.opentime-status .stt {
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    z-index: 2;
}
.now-detail-restaurant .status-restaurant .time {
    font-size: 15px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

.now-detail-restaurant .cost-restaurant {
    color: #959595;
    font-size: 15px;
}