<div class="now-detail-restaurant clearfix">
    <div class="container">
        <div class="detail-restaurant-img">
            <img src="{{restaurant.avatar}}" alt="#">
        </div>
        <div class="detail-restaurant-info">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Ha Noi</a></li>
                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Ten quan</a></li>
                </ol>
            </nav>
            <div class="kind-restaurant"><span>Shop Online</span></div>
            <h1 class="name-restaurant">{{restaurant.name}}</h1>
            <div class="address-restaurant">{{restaurant.address}}</div>
            <div class="rating">
                <div></div>
            </div>            
            <div class="status-restaurant">
                <div class="opentime-status">
                    <span class="stt online" title="Mo cua"></span>
                </div>
                <div class="time">
                    9:30 - 23:30
                </div>
            </div>
            <div class="cost-restaurant">
                <i></i>
                20,000 - 100,000
            </div>
            <div class="share-social clearfix"></div>
            <div class="utility-restaurant clearfix"></div>
        </div>
    </div>
</div>
<div class="container relative clearfix">
    <app-menu [ids]="idshop"></app-menu>
</div>
