.container-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 70px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.container-header .select-local {
    cursor: pointer;    
    border-radius: 4px;
    position: relative;
    padding: 0;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.container-header .select-local .dropdown-toggle {
    color: #252525;
    border: 0;
    padding: 10px 27px 0px 19px;
    background-color: #f0f0f0;
    position: relative;
    z-index: 1;    
}
.container-header .select-local .dropdown-menu {
    min-width: 200px;
    left: -2px;
}

.container-header .dropdown-menu {
    padding: 0;
}
.main-header .dropdown-menu {
    overflow: hidden;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .875rem;
    color: #464646;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
}
.container-header .select-local .dropdown-item {
    border-bottom: 1px solid #ebebeb;
    padding: 5px 5px 5px 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.dropdown-menu .dropdown-item {
    position: relative;
}
.container-header .dropdown-item {
    padding: .35em 1em;
}
.main-header .dropdown-item {
    cursor: pointer;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #252525;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.container-header .user-acc .dropdown-toggle {
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.user-acc .dropdown-menu {
    left: auto;
    right: -12px;
}
.container-header .user-acc .img {
    float: left;
}
.container-header .user-acc .img img {
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.container-header .user-acc .dropdown-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 12px;
    border-bottom: 1px solid #ebebeb;
}
.container-header .user-acc .dropdown-item .icon {
    margin-right: 10px;
}
.icon-user-history, .icon-user-update {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.user-acc .dropdown-toggle{
    cursor: pointer;
}

.icon-user-history {
    background-position: -100px -79px;
    background-color: #6cc942;
}
.ic, span.text {
    display: inline-block;
    vertical-align: middle;
}
.show{
    display: block;
}
.icon-address, .icon-app-phone, .icon-app-store-big, .icon-app-store-lg, .icon-app-store-md, .icon-app-store-sm, .icon-benefit-air-conditioner, .icon-benefit-booking, .icon-benefit-bring-on, .icon-benefit-card, .icon-benefit-delivery, .icon-benefit-disabilities, .icon-benefit-football, .icon-benefit-heater, .icon-benefit-karaoke, .icon-benefit-member, .icon-benefit-music, .icon-benefit-parking, .icon-benefit-parking-free, .icon-benefit-playground, .icon-benefit-pool, .icon-benefit-room, .icon-benefit-seminor, .icon-benefit-smoking, .icon-benefit-sun, .icon-benefit-tennis, .icon-benefit-tip, .icon-benefit-vat, .icon-benefit-wifi, .icon-box, .icon-cash-payment, .icon-cc-payment, .icon-check-green, .icon-clock, .icon-close-gray, .icon-corporate, .icon-discount-airpay, .icon-discount-code, .icon-discount-first-order, .icon-discount-free-ship, .icon-discount-new, .icon-discount-order-group, .icon-discount-order-larger, .icon-gg-play-big, .icon-gg-play-lg, .icon-gg-play-md, .icon-gg-play-sm, .icon-ib-payment, .icon-jcb, .icon-lag-en, .icon-lag-th, .icon-lag-vn, .icon-local-map, .icon-location, .icon-master, .icon-merchant-airpay, .icon-merchant-lg, .icon-merchant-marketing, .icon-merchant-shipper, .icon-merchant-system, .icon-money, .icon-money-sm, .icon-now-payment, .icon-paging-next, .icon-paging-pre, .icon-parnership, .icon-phone, .icon-phone-verified, .icon-phone-white, .icon-pickup, .icon-power-off, .icon-preorder, .icon-price-tag, .icon-promo, .icon-promotion-now, .icon-restaurant, .icon-search, .icon-search-gray, .icon-search-orangen, .icon-sprite, .icon-tablenow, .icon-tablenow-footer, .icon-tb-blog, .icon-tb-dessert, .icon-tb-entertainment, .icon-tb-restaurant, .icon-thumbtack, .icon-time-gray, .icon-time-white, .icon-upload, .icon-user-history, .icon-user-logout, .icon-user-update, .icon-vatnot, .icon-verify-merchant, .icon-via-key, .icon-via-sms, .icon-visa, .modal .close {
    background-image: url(/assets/img/bg-icon.png);
}
.container-header .user-acc .name {
    display: inline-block;
    line-height: 40px;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    font-weight: 700;
    float: left;
    padding-right: 10px;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}
.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.container-header .header-content {
    position: relative;
    margin: 0;
    min-height: 42px;
    align-items: center!important;
    justify-content: space-between!important;
    height: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.container-header .drop-down {        
    position: relative;
    cursor: pointer;    
    border: 0;
    width: 100%;
    padding: 10px 27px 10px 19px;
    background-color: #f0f0f0;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.main-nav {
    padding-left: 48px;
    padding-right: 0;
    white-space: nowrap;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.main-nav .nav-item {
    color: #252525;
    cursor: pointer;
    padding: 10px 12px 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 4px solid transparent;
    font-size: 14px;
}

a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.main-nav .nav-item.active {
    color: #ee4d2d;
    font-weight: 700;
    border-bottom-color: #ee4d2d;
}

.container-header .btn-login {
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}
.btn-none-bg {
    color: #0288d1;
    background-color: transparent;
    transition: .1s ease;
}
.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #0288d1;
    border-radius: 6px;
    padding: .23rem .6rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container-header .select-local .dropdown-item {
    border-bottom: 1px solid #ebebeb;
    padding: 5px 5px 5px 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.container-header .logo-now {
    position: absolute;
    right: 100%;
    cursor: pointer;
    margin-right: 72px;
    padding-left: 0;
}
.container-header .logo-now img[alt=Marketgo] {
    height: 35px;
}
.container-header .icon-now-promo-code {
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #0288d1;
    font-size: 30px;
}
.fa-percent{
    margin-left: 7px; margin-top: 6px;
}

.icon-user-update {
    background-position: -100px -116px;
    background-color: #e2963b;
}

.icon-user-logout {
    width: 38px;
    height: 38px;
    background-position: -100px -156px;
    background-color: #6d6f71;
    border-radius: 50%;
}
.fa-caret-down{
    margin-top: 12px;
}
.hidden{
    display: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.container-header .btn-login {
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}