<header class="main-header">

        <div class="container-header">
                <div class="container">
                        <div class="header-content navbar row  justify-content-between align-items-center">
                                <div class="logo-now col-auto"><span><a href="/home"><img src="/assets/img/icon.png"
                                                                alt="Marketgo"></a></span></div>
                                <div class="select-local col-auto">
                                        <!-- <div class="dropdown">
                        <div class="dropdown-toggle" (click)="clicktogglecity()" role="button" id="local-dropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Hà Nội</div>
                        <div class="dropdown-menu">
                            <div class="dropdown-item"><span class="name col">TP. HCM</span><span
                                    class="count col-auto">73536 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Hà Nội</span><span
                                    class="count col-auto">36125 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Đà Nẵng</span><span
                                    class="count col-auto">9992 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Cần Thơ</span><span
                                    class="count col-auto">3118 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Hải Phòng</span><span
                                    class="count col-auto">3588 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Huế</span><span
                                    class="count col-auto">2124 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Khánh Hoà</span><span
                                    class="count col-auto">2002 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Đồng Nai</span><span
                                    class="count col-auto">3229 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Nghệ An</span><span
                                    class="count col-auto">1510 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Vũng Tàu</span><span
                                    class="count col-auto">1654 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Bắc Ninh</span><span
                                    class="count col-auto">489 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Bình Dương</span><span
                                    class="count col-auto">2081 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Lâm Đồng</span><span
                                    class="count col-auto">1156 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Quảng Nam</span><span
                                    class="count col-auto">923 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Quảng Ninh</span><span
                                    class="count col-auto">859 địa điểm</span></div>
                            <div class="dropdown-item"><span class="name col">Thái Nguyên</span><span
                                    class="count col-auto">824 địa điểm</span></div>
                        </div>
                    </div> -->
                                        <mat-form-field appearance="fill" style="margin-top: 10px; width: 135px;">
                                                <mat-label>Địa điểm</mat-label>
                                                <mat-select [(ngModel)]="selectedValue" [(value)]="defaulVal" [placeholder]="defaulVal">                                                        
                                                        <mat-option *ngFor="let food of foods" [value]="food.value"
                                                                (click)="onchanges(food.value)">
                                                                {{food.viewValue}}
                                                        </mat-option>
                                                </mat-select>
                                        </mat-form-field>
                                </div>                                
                                <div class="main-nav col">
                                        <a class="nav-item active" href="/home">Đồ ăn</a>
                                        <a class="nav-item " href="/home/fresh">Thực phẩm</a>
                                        <a class="nav-item " href="/home/drink">Giải khát</a>
                                </div>
                                <div class="header-icon-search col-auto"><span data-toggle="modal"
                                                data-target="#modal-search"><span
                                                        class="icon icon-search-dark"></span></span></div>

                                <div id="user" class="user-acc col-auto">
                                        <div class="dropdown">
                                                <div class="dropdown-toggle" role="button" id="user-dropdown"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" (click)="clicktoggleuser()">
                                                        <div class="img"><img
                                                                        src="https://images.foody.vn/usr/g2501/25008742/avt/s200x200/foody-avatar-310c19c5-1614-489c--7632a963-210906152236.jpg"
                                                                        alt="{{user.name}}"></div><span
                                                                class="name">{{user.name}}</span><i class="fas fa-caret-down"></i>
                                                </div>
                                                <div class="dropdown-menu" aria-labelledby="user-dropdown"><a
                                                                href="/home/history">
                                                                <div class="dropdown-item"><span
                                                                                class="icon icon-user-history"></span><span
                                                                                class="text">Lịch sử đơn hàng</span>
                                                                </div>
                                                        </a><a href="/my-promo-code">
                                                                <div class="dropdown-item"><span
                                                                                class="icon icon-now-promo-code"><i class="fas fa-percent"></i></span><span
                                                                                class="text">Ví Voucher</span></div>
                                                        </a><a href="/account/profile">
                                                                <div class="dropdown-item"><span
                                                                                class="icon icon-user-update"></span><span
                                                                                class="text">Cập nhật tài khoản</span>
                                                                </div>
                                                        </a>
                                                        <div class="dropdown-item" (click)="logout()"><span
                                                                        class="icon icon-user-logout"></span><span
                                                                        class="text">Đăng xuất</span></div>
                                                </div>
                                        </div>
                                </div>
                                <div id="login" class="user-acc col-auto hidden"><button type="button" class="btn btn-none-bg btn-login"><a href="/login" style="color: red;">Đăng nhập</a></button></div>
                        </div>
                </div>
        </div>
        <div class="modal fade modal-search" id="modal-search" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content"><span class="close" data-dismiss="modal">x</span>
                                <div class="modal-search-form"><span class="sub-title">Đặt Đồ ăn, giao hàng từ 20'... có
                                                31345 địa điểm
                                                ở Hà Nội từ 00:00 - 23:59</span>
                                        <form><input class="search-input" name="search-input" type="text"
                                                        autocomplete="off" value="">
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
</header>