@media (min-width: 992px){
    .wrapper {
        background: #f5f5f5;
    }
    
    .container {
        width: 1136px;
        margin: auto;
    }
    .register-shop {
        padding: 24px 0 35px;
        font-size: 14px;
    }
    .register-shop__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    .progress-bar__step-group {
        display: flex;
        border-radius: 2px;
        padding: 20px;
        background-color: #fff;
        justify-content: flex-start;
    }
    .progress-bar__step {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: calc((100% - 200px)/6);
    }
    .progress-bar__step:not(:first-child) {
        margin-left: 40px;
    }
    .progress-bar__step {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: calc((100% - 200px)/6);
    }
    .progress-bar__step--active .active-icon, .progress-bar__step--notReach .active-icon {
        display: none;
    }
    .progress-bar__step--active .progress-bar__step__label {
        color: #262626;
    }
    .progress-bar__step__label {
        font-size: 14px;
        color: #bfbfbf;
        font-weight: 400;
        line-height: 22px;
        margin-left: 8px;
    }
    .progress-bar__step:not(:first-child) {
        margin-left: 40px;
    }
    .progress-bar__step {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: calc((100% - 200px)/6);
    }
    .progress-bar__step--active .active-icon, .progress-bar__step--notReach .active-icon {
        display: none;
    }
    .progress-bar__step__label {
        font-size: 14px;
        color: #bfbfbf;
        font-weight: 400;
        line-height: 22px;
        margin-left: 8px;
    }
    .progress-bar__step--notReach:not(:first-child):before {
        position: absolute;
        content: "";
        width: 30px;
        height: 1px;
        background-color: #bfbfbf;
        left: -40px;
    }.register-shop__form-container {
        margin-top: 20px;
        padding: 24px 220px 30px;
        background-color: #fff;
    }
    .register-shop__form-container {
        margin-top: 20px;
        padding: 24px 220px 30px;
        background-color: #fff;
    }
    .register-shop__form-title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 24px;
        position: relative;
    }
    .form-item {
        display: flex;
        align-items: flex-start;
        padding-bottom: 24px;
        position: relative;
    }.form-item__label {
        display: flex;
        margin-top: 9px;
        color: rgba(0,0,0,.87);
    }
    .rc-select .rc-select-arrow, .rc-select .rc-select-clear {
        height: 32px;
        line-height: 32px;
    }
    .check-shop__filter__btn-search .btn {
        min-width: unset;
    }
    .btn {
        min-height: 32px;
        font-size: 14px;
        border-radius: 2px;
        min-width: unset;
 
    }
    .check-zone__model {
        width: 400px!important;
    }
    .alert-modal {
        z-index: 1000!important;
    }
    .check-zone__model .modal-wrapper__body {
        padding-top: 12px;
    }
    .modal-wrapper__body {
        padding: 20px 0 0;
    }
    .check-zone__model-cotainer {
        display: flex;
    }
    .check-zone__model-cotainer .icon {
        margin-right: 16px;
        flex-basis: auto;
    }
    .check-zone__model-content {
        display: flex;
        flex-direction: column;
        flex: 1 1;
    }
    .check-zone__model-survey {
        font-size: 16px;
        margin: 1px 0 0;
        line-height: 24px;
    }
    .check-zone__model-tips {
        font-size: 14px;
        line-height: 24px;
    }
    .modal-wrapper__footer {
        padding: 20px 0 0;
        text-align: right;
    }
    .form-item__label--important {
        color: red;
        margin: 0 4px 0 -4px;
    }
    .input, .input>input {
        min-height: 32px;
    }
    .notice-container {
        background-color: #fff9e9;
        color: #262626;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        line-height: 22px;
    }
    .notice-container__icon {
        margin-right: 10px;
        padding-top: 3px;
    }
    .form-item__label[class^=col-xs] {
        padding: 0 0 0 10px;
    }
}
.col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.input--full-width, .input--full-width>input {
    width: 100%;
}
.input {
    min-height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.input>input {
    min-height: 40px;
    width: 100%;
    outline: 0;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
}
/* .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
} */
.col-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
}
@media only screen and (min-width: 75em){
    .container {
        width: 71rem;
    }
    .col-md-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

}
/* @media only screen and (min-width: 62em){
    .container {
        width: 61rem;
    }
    .col-md-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
} */

.icon {
    line-height: 0;
    display: inline-block;
}
.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}
#map{
    width: 100%;
    height: 100%;
}
.rc-select {
    min-width: 200px;
    width: 100%;
    max-height: 300px;
    color: rgba(0,0,0,.87);
    height: 32px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    line-height: 14px;
}
.rc-select-disabled, .rc-select-disabled input {
    cursor: not-allowed;
}
/* .rc-select {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    position: relative;
} */
.rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
    padding: 1px;
    border: 1px solid #000;
}
.rc-select .rc-select-selector {
    height: 32px;
    line-height: 32px;
    border: 0!important;
}
.rc-select-single .rc-select-selector {
    display: flex;
    position: relative;
}
.rc-select-disabled .rc-select-selector {
    opacity: .3;
}
.rc-select-single:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
    border: none;
    outline: none;
    background: rgba(255,0,0,.2);
    width: 100%;
}

.rc-select-single .rc-select-selector .rc-select-selection-search, .rc-select-single .rc-select-selector .rc-select-selection-search-input {
    width: 100%;
}
.rc-select .rc-select-selection-search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.rc-select-disabled, .rc-select-disabled input {
    cursor: not-allowed;
}
.rc-select-selection-search-input {
    background-color: transparent!important;
}
.rc-select-selection-search-input {
    padding: 0 15px;
}

.rc-select-single .rc-select-selector .rc-select-selection-item, .rc-select-single .rc-select-selector .rc-select-selection-placeholder {
    position: absolute;
    top: 1px;
    left: 3px;
    pointer-events: none;
}
.rc-select-selection-item, .rc-select-selection-placeholder {
    height: 30px;
    top: 0!important;
    left: 0!important;
    margin-left: 15px;
    margin-right: 28px;
}
.rc-select .rc-select-arrow, .rc-select .rc-select-clear {
    height: 32px;
    line-height: 32px;
}
.rc-select .rc-select-arrow, .rc-select .rc-select-clear {
    height: 32px;
    top: 0;
    line-height: 32px;
    width: 20px;
    right: 0;
}
.rc-select-show-arrow .rc-select-arrow {
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.register-shop {
    padding: 24px 0 35px;
    font-size: 14px;
}
.btn__text {
    display: inline-block;
    line-height: 1.5;
}
.btn+.btn {
    margin-left: 16px;
}
.btn {
    min-height: 32px;
    font-size: 14px;
    border-radius: 2px;
    min-width: unset;
    border-radius: 5px;
}
.btn--primary {
    background: #ee4d22;
    color: #fff;
    border-color: #ee4d22;
}
.rc-select-dropdown {
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
}
/* .rc-select-dropdown-hidden {
    display: none;
} */
.rc-select-dropdown {
    border: 1px solid green;
    min-height: 100px;
    position: absolute;
    background: #fff;
}

.rc-select-dropdown .rc-virtual-list {
    padding: 4px 0;
}

.rc-select-dropdown .rc-virtual-list .rc-select-item-option {
    height: 32px;
    border: none;
    color: #262626;
    font-size: 14px;
    padding: 5px 12px;
}
.rc-select-item-option {
    position: relative;
}
.rc-select-item {
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 16px;
    cursor: pointer;
}

.rc-select-dropdown .rc-virtual-list .rc-select-item-option-content {
    display: flex;
    align-items: center;
}

.rc-select-item-option .rc-select-item-option-state {
    position: absolute;
    right: 0;
    top: 4px;
    pointer-events: none;
}
.rc-virtual-list-holder{
    height: 450px;
    overflow-y: auto;
}

.rc-select-dropdown-hidden{
    display: none;
}

.rc-select-item-option :hover{
    background-color: #E6E6FA;
}