
<div class="history-switch">
    <div class="item now active">ShopeeFood</div>
</div>
<div class="history-table-container">
    <div class="filter-table">
        <div class="filter-table-item ">
            <div class="text-nowrap"><span class="filter-table-label">Trạng thái</span><select name=""
                    class="form-control filter-table-input">
                    <option value="-1" selected="">All</option>
                    <option value="4">Hoàn tất</option>
                    <option value="8">Hủy</option>
                </select></div>
        </div>
        <div class="filter-table-item">
            <div class="text-nowrap"><span class="filter-table-label">Từ ngày</span><input value="" type="text"
                    class="flatpickr-input" readonly="readonly"></div>
        </div>
        <div class="filter-table-item">
            <div class="text-nowrap"><span class="filter-table-label">Đến ngày</span><input
                    mindate="Tue Nov 02 2021 01:43:55 GMT+0700 (Indochina Time)" value="" type="text"
                    class="flatpickr-input" readonly="readonly"></div>
        </div>
        <div class="filter-table-item"><button type="button" class="btn btn-sm">Tìm kiếm</button></div>
    </div>
    <div class="history-table">
        <div class="history-table-row history-table-heading">
            <div class="history-table-cell history-table-col1" style="width: 40px; flex: 0 0 auto;">STT</div>
            <div class="history-table-cell history-table-col2">Mã đơn hàng</div>
            <div class="history-table-cell history-table-col3">Thời gian</div>
            <div class="history-table-cell history-table-col4">Tên quán</div>
            <div class="history-table-cell history-table-col5">Nhân viên giao vận</div>
            <div class="history-table-cell history-table-col6">Tổng tiền</div>
            <div class="history-table-cell history-table-col7">Trạng thái</div>
            <div class="history-table-cell history-table-col8">Chi tiết</div>
        </div>
        <div class="history-table-row history-table-heading" *ngFor="let a of menu">
            <div class="history-table-cell history-table-col1" style="width: 40px; flex: 0 0 auto;">STT</div>
            <div class="history-table-cell history-table-col2">{{a.orders.idOrder}}</div>
            <div class="history-table-cell history-table-col3">Thời gian</div>
            <div class="history-table-cell history-table-col4">{{a.shops.name}}</div>
            <div class="history-table-cell history-table-col5">Nhân viên</div>
            <div class="history-table-cell history-table-col6">{{a.orders.total}}</div>
            <div class="history-table-cell history-table-col7" *ngIf="a.orders.status == -1">đơn hàng bị huỷ</div>
            <div class="history-table-cell history-table-col7" *ngIf="a.orders.status == 1">đang xác nhận</div>
            <div class="history-table-cell history-table-col7" *ngIf="a.orders.status == 2">đơn hàng đã xác nhận</div>
            <div class="history-table-cell history-table-col8 detail"
                (click)="handleDescription(a.orders.idOrder)">Chi tiết</div>
        </div>
    </div>
</div>
<div class="outside"  *ngIf="hiden" >
    <div class="abc" (click)="hidenoff()"></div>
    <div class="menu-restaurant-list">
        <div id="restaurant-item">
            <div aria-label="grid" aria-readonly="true" class="ReactVirtualized__Grid ReactVirtualized__List"
                role="grid" tabindex="0"
                style="box-sizing: border-box; direction: ltr; height: auto; position: relative; will-change: transform; overflow: auto; outline: none;">
                <div class="ReactVirtualized__Grid__innerScrollContainer" role="rowgroup"
                    style="width: auto; overflow: hidden; position: relative;">
                    <div class="menu-group">
                        <div class="title-menu">{{nameShop}}</div>
                        <div class="menu-item">
                            <button class="btnInform btnleft" (click)="confirm()">Đồng ý</button>
                            <button class="btnInform btnright" (click)="reject()">Từ chối</button>
                        </div>
                    </div>                    
                    <div *ngFor="let o of order">
                        <div class="item-restaurant-row">
                            <div class="row">
                                <div class="col-auto item-restaurant-img"><button class="inline"><img
                                            src="{{o.menuDetails.avatar}}" alt="Lạp Xưởng Rán" width="60"
                                            height="60"></button></div>
                                <div class="col item-restaurant-info">
                                    <h2 class="item-restaurant-name">{{o.menuDetails.name}}</h2>
                                    <div class="item-restaurant-desc">{{o.menuDetails.describe}}</div>
                                    <!-- <div class="item-restaurant-total">Đã được đặt<span
                                    class="txt-bold">&nbsp;{{d.total}}&nbsp;</span>lần&nbsp;&nbsp;|&nbsp;&nbsp;<i
                                    class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;{{d.totalFavorite}}
                            </div> -->
                                </div>
                                <div class="col-auto item-restaurant-more">
                                    <div class="row ">
                                        <div class="col-auto product-price">
                                            <div class="old-price">{{o.menuDetails.price}}<span
                                                    style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                            </div>
                                            <div class="current-price">{{o.menuDetails.price}}<span
                                                    style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                            </div>
                                        </div>
                                        <div class="col-auto adding-food-cart txt-right">
                                            <div class="btn-adding">{{o.orderDetails.quantity}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>