@media (min-width: 992px){
    .wrapper {
        background: #f5f5f5;
    }
    .sign-contract {
        margin: 20px auto;
        padding: 0 100px;
        background: #fff;
        border-radius: 2px;
        font-size: 14px;
    }
    .container {
        width: 1136px;
        margin: auto;
    }
    .sign-contract__title {
        padding: 24px 0 20px;
        font-weight: 600;
        font-size: 16px;
    }
    .sign-contract__body--policy {
        width: 100%;
        height: 500px;
        border: 1px solid rgba(0,0,0,.09);
    }   
    .sign-contract__body--agree-checkbox {
        display: flex;
        align-items: flex-start;
        line-height: 16px;
        color: rgba(0,0,0,.87);
    }
    .checkbox {
        position: relative;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
    }
    .checkbox__wrapper {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid #d9d9d9;
    }
    .checkbox__text {
        margin-left: 8px;
        line-height: 1;
    }
    .sign-contract__footer {
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }
    .btn {
        min-height: 32px;
        font-size: 14px;
        border-radius: 2px;
        min-width: unset;
    }
    .btn {
        min-height: 32px;
        font-size: 14px;
        border-radius: 2px;
        min-width: unset;
    }
}
.pdf-viewer {
    position: relative;
    height: 100%;
    width: 100%;
}
.pdf-viewer__view {
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.pdf-viewer__download {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 1px solid #ddd;
    padding: 8px 8px 5px;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}
.btn {
    min-width: 120px;
    min-height: 40px;
    background: #fff;
    color: #232831;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    padding: 0 16px;
    line-height: 1.5;
    color: rgba(0,0,0,.87);
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.btn__text {
    display: inline-block;
    line-height: 1.5;
}
.btn+.btn {
    margin-left: 16px;
}
.btn--disabled {
    color: #bfbfbf;
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed;
}
.btn--primary {
    background: #ee4d22;
    color: #fff;
    border-color: #ee4d22;
}