<div class="wrapper">
    <div class="container sign-contract">
        <div class="sign-contract__title">Vui lòng đọc kỹ điều khoản và điều kiện</div>
        <div class="sign-contract__body">
            <div class="sign-contract__body--policy">
                <div class="pdf-viewer">
                    <div class="pdf-viewer__view" style="position: relative;">
                        <div style="overflow: visible; height: 0px; width: 0px;">
                            <div id="my-pdf" class="_1CDf-Fj0nLQTDw84Sho5JS"></div>
                        </div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 925px; height: 482px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div><a class="pdf-viewer__download"
                        href="https://s3.prod.now.vn/public/crm/e_contract_provisions/contract_bi.pdf" target="_blank"
                        rel="noopener noreferrer"><i class="icon"><svg width="20" height="20" viewBox="0 0 18 18">
                                <path fill="#696F7B"
                                    d="M7.864 0h2.289c.467 0 .843.376.843.844v6.17h3.337c.626 0 .939.755.496 1.198L9.482 13.3a.681.681 0 01-.96 0L3.168 8.212a.702.702 0 01.495-1.199H7.02V.843c0-.467.377-.843.844-.843zM18 12.85v4.306a.842.842 0 01-.844.844H.844A.842.842 0 010 17.156V12.85c0-.468.376-.844.844-.844h4.67l2.21 2.092a1.801 1.801 0 002.552 0l2.185-2.092h4.695c.468 0 .844.376.844.844zm-4.36 3.463a.705.705 0 00-.703-.704.705.705 0 00-.703.704c0 .386.317.703.704.703a.705.705 0 00.703-.703zm2.25 0a.705.705 0 00-.703-.704.705.705 0 00-.703.704c0 .386.317.703.704.703a.705.705 0 00.703-.703z">
                                </path>
                            </svg></i></a>
                </div>
            </div>
            <p class="sign-contract__body--agree-checkbox"><label class="checkbox "><span class="checkbox__wrapper"><i
                            class="checkbox__icon icon"><svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <rect x="0.5" y="0.5" width="15" height="15" rx="1.5" fill="#EE4D2D" stroke="#EE4D2D">
                                </rect>
                                <path
                                    d="M3.913 7.035h0a.525.525 0 01.412.2l-.412-.2zm0 0h-.82a.243.243 0 00-.19.394h0l3.21 4.067h0c.21.266.613.265.824 0h0l5.723-7.252s0 0 0 0a.243.243 0 00-.191-.394h-.82a.523.523 0 00-.411.2s0 0 0 0l-4.714 5.972m-2.61-2.987l2.61 2.987m0 0L4.325 7.235l2.199 2.787z"
                                    fill="#fff" stroke="#fff" stroke-width="0.3"></path>
                            </svg></i></span><span class="checkbox__text"></span></label>&nbsp;<span><span>Tôi xin xác
                        nhận rằng tôi đã đọc tất cả điều khoản và điều kiện nêu trên và đồng ý ký hợp đồng với
                        ShopeeFood với các mức phí để trở thành đối tác chính thức của ShopeeFood:<br></span><span>- Phí
                        hoa hồng 25%: Với mỗi đơn hàng phát sinh, ShopeeFood thu 25% phí hoa hồng và thanh toán cho Quý
                        Đối Tác khoản còn lại.<br></span>- Trong vòng 30 ngày, kể từ ngày Quán đăng ký trên hệ thống
                    thành công, Quý Đối tác cần ký hợp đồng chính thức nhằm hoàn tất thủ tục đăng ký quán mới. Nếu quá
                    thời hạn trên, Quán sẽ bị ngừng hoạt động trên hệ thống.</span></p>
        </div>
        <div class="sign-contract__footer">
            <button class="btn" type="button">
                <span class="btn__text">Quay
                    lại</span>
            </button>
            <button class="btn btn--primary btn--disabled" type="button"><span class="btn__text">Đồng ý</span></button>
        </div>
    </div>
</div>