.now-bill-restaurant {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    margin-top: 48px;
    float: right;
    width: 315px;
}
.now-bill-restaurant .bill-restaurant-header {
    border-bottom: 1px solid #ebebeb;
    padding: 7px 10px;
    position: relative;
}
.now-bill-restaurant .cart-stats {
    border: 0;
}
.now-bill-restaurant .cart-stats {
    font-size: 12px;
    cursor: pointer;
    color: #187caa;
    background: #ebebeb;
    padding: 2px 8px;
    border-radius: 2px;
    float: left;
    display: block;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.txt-bold {
    font-weight: 700!important;
}
.now-bill-restaurant .btn-reset {
    float: right;
}
.btn-reset {
    font-size: 11px;
    cursor: pointer;
    color: #cf2127;
    line-height: 20px;
    display: inline-block;
    padding: 0 7px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #cf2127;
}
.now-bill-restaurant .create-order {
    font-size: 11px;
    font-style: italic;
    padding-top: 6px;
    clear: both;
}
.txt-blue {
    color: #0288d1!important;
}
.now-bill-restaurant .now-order-card-group {
    color: #464646;
    max-height: 300px;
    overflow-y: auto;
}
.now-bill-restaurant .row-bill-restaurant {
    font-size: 13px;
    padding: 4px 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.now-bill-restaurant .row-bill-restaurant {
    font-size: 13px;
    padding: 4px 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ebebeb;
}
.relative {
    position: relative!important;
}
.font16 {
    font-size: 1rem!important;
}

.txt-blue {
    color: #0288d1!important;
}
.txt-bold {
    font-weight: 700!important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.now-bill-restaurant .btn-red {
    font-size: 15px;
    margin: 12px 10px 15px;
    display: block;
    width: calc(100% - 20px);
}

.now-order-card-group .order-card-user {
    color: #464646;
    background-color: #ebebeb;
    padding: 4px 15px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.now-order-card-group .order-card-user .avatar img {
    width: 30px;
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.now-order-card-group .order-card-user .user-name {
    color: #6d6f71;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.now-order-card-group .order-card-item {
    padding: 6px 10px;
    border-bottom: 1px solid #ebebeb;
}
.now-order-card-group .order-card-item .fa-plus-square {
    color: #329900;
    border: 0;
    background: transparent;
    padding: 0;
}
.fa, .fas {
    font-weight: 900;
}
.now-bill-restaurant .number-oder {
    font-size: 12px;
    color: #cf2127;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    min-width: 18px;
}
.now-order-card-group .order-card-item .fa-minus-square {
    color: #464646;
    border: 0;
    background: transparent;
    padding: 0;
}
.now-order-card-group .order-card-item .name-order {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 700;
    color: #464646;
}
.now-order-card-group .order-card-item .note-order input {
    font-size: 12px;
    border: 0;
    padding: 0;
    width: 210px;
}
.now-order-card-group .order-card-item .price-order {
    font-size: 13px;
    float: right;
}
.btn-red:hover {
    color: #fff;
    background-color: #e37f68;
    border-color: #e37f68;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn-red {

    background-color: #ee4d2d;
    color: #fff;
    border-color: #ee4d2d;
}
.mat-dialog-container{
    padding: 0px;
}
.btn {
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border-radius: 6px;
    padding: .23rem .6rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}