<div class="now-bill-restaurant">
    <div class="bill-restaurant-header"><button disabled="" class="cart-stats"><span
                class="txt-bold"></span>&nbsp;phần&nbsp;-&nbsp;<span
                class="txt-bold"></span>&nbsp;người</button><button disabled="" class="btn-reset" (click)="delete()">Xóa</button>
        <div class="create-order">Đơn hàng tạo bởi <span class="txt-blue">{{user.name}}</span></div>
    </div>
    <div class="now-order-card-group">
        <div class="order-card-person">
            <div class="order-card-user">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="avatar"><img alt="Thắng 23.Vũ Văn"
                                src="https://images.foody.vn/usr/g2501/25008742/avt/s60x60/foody-avatar-310c19c5-1614-489c--7632a963-210906152236.jpg">
                        </div>
                    </div>
                    <div class="col">
                        <div class="user-name">{{user.name}}</div>
                    </div>
                    <div class="col-auto">{{cart.length}} món</div>
                </div>
            </div>
            <div class="order-card-groups" *ngFor="let c of cart">                
                <div class="order-card-item">
                    <div class="clearfix"><button class="fas fa-plus-square" (click)="up(c.idDetail)"></button><span
                            class="number-oder">{{c.total}}</span><button class="fas fa-minus-square" (click)="down(c.idDetail)"></button><span
                            class="name-order">{{c.name}}</span></div>
                    <div class="note-order"><input type="text" id="txtNote" placeholder="Thêm ghi chú..." value=""><span
                            class="price-order">{{c.price * c.total}}đ</span></div>
                </div>                
                
            </div>
        </div>
    </div>
    <div class="row-bill-restaurant">
        <div class="row">
            <div class="col">Cộng</div>
            <div class="col-auto"><span class="txt-bold">{{total}}<span
                        style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span></span>
            </div>
        </div>
    </div>
    <div class="row-bill-restaurant relative">
        <div class="row">
            <div class="col">Tổng cộng</div>
            <div class="col-auto">&nbsp;<span class="txt-bold txt-blue font16">{{total}}<span
                        style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span></span>
            </div>
        </div>
    </div><button class="btn btn-red" (click)="opendialog()"><i class="fas fa-check-circle"></i> Đặt trước</button>
</div>
