#title-head{
    font-size: 16px;
    margin-bottom: 5px;
}
#title-error{
    color: red;
    font-size: 16px;
    margin-bottom: 5px;
    display: none;
}
#title-error a{
    color: red;
    text-decoration: underline;
}.form-membership{
    background:url(../../../../assets/img/bg.png) #fff;
    background-attachment:fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    padding:3rem 0;
    height: 100vh;
}
.form-wrapper{background-color:#fff;padding:3rem;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;width:430px;margin:50px auto;text-align:center}
.form-wrapper .logo{background-color:#fff;width:100px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;height:100px;text-align:center;margin-bottom:2rem;margin-top:-100px;margin-left:auto;margin-right:auto}
.form-wrapper h5{text-align:center;margin-bottom:2rem}
.form-wrapper form .form-control{margin-bottom:1.5rem}
.form-wrapper hr{margin:2rem 0}

@media screen and (max-width:1200px){.sidebar-group{position:fixed;right:-50%;top:0;bottom:0;width:30%;opacity:0;-webkit-transition:all .2s;-o-transition:all .2s;-moz-transition:all .2s;transition:all .2s;-webkit-box-shadow:25px 0 30px 5px #000;-moz-box-shadow:25px 0 30px 5px #000;box-shadow:25px 0 30px 5px #000;visibility:hidden}
.sidebar-group .sidebar{width:100%!important;margin-left:0!important;margin-right:0!important;-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important}
.sidebar-group.mobile-open{opacity:1;right:0;visibility:visible}
.rtl .sidebar-group{position:fixed;left:-50%;top:0;bottom:0;opacity:0;-webkit-transition:all .2s;-o-transition:all .2s;-moz-transition:all .2s;transition:all .2s;-webkit-box-shadow:-25px 0 30px 5px #000;-moz-box-shadow:-25px 0 30px 5px #000;box-shadow:-25px 0 30px 5px #000;visibility:hidden}
.rtl .sidebar-group .sidebar{width:100%!important;margin-left:0!important;margin-right:0!important;-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important}
.rtl .sidebar-group.mobile-open{opacity:1;left:0;visibility:visible}.rtl .chat+.sidebar-group .sidebar{margin-right:0!important}}
@media screen and (max-width:992px){ .sidebar-group,.sidebar-group{width:45%}}
@media screen and (max-width:768px){ .sidebar-group,.sidebar-group{width:75%}
 .sidebar-group .sidebar .list-group-item .users-list- h5,.sidebar-group .sidebar .list-group-item .users-list- h5{font-size:21px!important}.layout .content{padding:20px!important}.layout .content .chat .chat-header{display:block!important;padding-bottom:15px!important}.layout .content .chat .chat-header .chat-header-user h5{font-size:19px!important}.layout .content .chat .chat-header .chat-header-action{margin-top:15px}.layout .content .chat .chat- .messages .message-item{max-width:100%!important}}
@media screen and (max-width:576px){ .sidebar-group,.sidebar-group{width:100%}.form-membership{padding:20px}.form-membership .form-wrapper{padding-right:20px;padding-left:20px;width:100%!important;margin-bottom:20px}}

.form-group{
    margin-bottom: 1rem;
}

.form-control{
    border: 1px solid #ced4da;
    border-radius: 3px;    
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    font-size: 20px;
    margin: 0;
    background-color: white;
}
.d-flex{
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -moz-box!important;
    display: flex!important;
    text-decoration: none;
}
a{
    text-decoration: none;    
}
.aCard{
    color: #3db16b;
}
.btnSubmit{
    width: 100%;
    background-color: #3db16b;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    border-color: #3db16b;
    color: white;
}

.btn-primary{
    height: 46px;    
    padding-top: 12px;
    font-size: 20px;
}