<div class="now-menu-restaurant">
    <div class="menu-restaurant-tab">
        <div class="item active">Thực đơn</div>
    </div>
    <div class="menu-restaurant-content-tab">
        <div class="menu-restaurant-container">
            <div class="menu-restaurant-category">
                <div class="list-category" id="scroll-spy">
                    <div class="scrollbar-container ps" *ngFor="let m of menus">
                        <div class="item"><span id="{{m.idMenu}}" title="{{m.name}}" class="item-link">{{m.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-restaurant-detail">
                <!-- <div class="promotions-order">
                    <div id="promotion-item" class="promotion-item">
                        <div><img src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_shipping_15.png"
                                alt="Nhập &quot;ALLFREE&quot;: Giảm 15k trên phí vận chuyển" class="icon-promotion">
                            <div class="content">Nhập "ALLFREE": Giảm 15k trên phí vận chuyển</div>
                        </div><button class="code-copy" id="promotion-item-copy"><span class="promo_ALLFREE">Copy
                                code</span><span class="fa fa-copy"></span></button>
                    </div>
                    <div id="promotion-item" class="promotion-item">
                        <div><img src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_shipping_15.png"
                                alt="Nhập &quot;SIEUSHIP&quot;: Giảm 15k trên phí vận chuyển" class="icon-promotion">
                            <div class="content">Nhập "SIEUSHIP": Giảm 15k trên phí vận chuyển</div>
                        </div><button class="code-copy" id="promotion-item-copy"><span class="promo_SIEUSHIP">Copy
                                code</span><span class="fa fa-copy"></span></button>
                    </div>
                    <div class="promotion-item"><img
                            src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_14.png"
                            alt="Giảm trực tiếp 10% trên giá món. Nhập mã ưu đãi để được giảm nhiều hơn"
                            class="icon-promotion">
                        <div class="content">Giảm trực tiếp 10% trên giá món. Nhập mã ưu đãi để được giảm nhiều hơn
                        </div>
                    </div>
                </div> -->
                <div class="menu-restaurant-list">
                    <div class="search-items">
                        <p class="input-group"><i class="fas fa-search"></i><input type="search" name="searchKey"
                                placeholder="Tìm món" value=""></p>
                    </div>
                    <div id="restaurant-item" (scroll)="onScroll($event)">
                        <div aria-label="grid" aria-readonly="true"
                            class="ReactVirtualized__Grid ReactVirtualized__List" role="grid" tabindex="0"
                            style="box-sizing: border-box; direction: ltr; height: auto; position: relative; width: 558px; will-change: transform; overflow: auto; outline: none;">
                            <div class="ReactVirtualized__Grid__innerScrollContainer" role="rowgroup"
                                style="width: auto;max-width: 558px; overflow: hidden; position: relative;"
                                *ngFor="let m of menus">
                                <div class="menu-group" id="{{m.idMenu}}">
                                    <div class="title-menu">{{m.name}}</div>
                                </div>
                                <div *ngFor="let d of menudeatils">
                                    <div class="item-restaurant-row" *ngIf="d.idMenu == m.idMenu">
                                        <div class="row">
                                            <div class="col-auto item-restaurant-img"><button class="inline"><img
                                                        src="{{d.avatar}}"
                                                        alt="Lạp Xưởng Rán" width="60" height="60"></button></div>
                                            <div class="col item-restaurant-info">
                                                <h2 class="item-restaurant-name">{{d.name}}</h2>
                                                <div class="item-restaurant-desc">{{d.describe}}</div>
                                                <div class="item-restaurant-total">Đã được đặt<span
                                                        class="txt-bold">&nbsp;{{d.total}}&nbsp;</span>lần&nbsp;&nbsp;|&nbsp;&nbsp;<i
                                                        class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;&nbsp;{{d.totalFavorite}}
                                                </div>
                                            </div>
                                            <div class="col-auto item-restaurant-more">
                                                <div class="row ">
                                                    <div class="col-auto product-price">
                                                        <div class="old-price">{{d.price}}<span
                                                                style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                        </div>
                                                        <div class="current-price">{{d.price}}<span
                                                                style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto adding-food-cart txt-right" (click)="test(d.idDetail)">
                                                        <div class="btn-adding">+</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-box-image show" id="modal-box-image" tabindex="-1" role="dialog"
        style="display: none; padding-right: 17px;">
        <div class="modal-dialog" role="document">
            <div class="res-menu-carousel">
                <div class="slick-slider slick-initialized" dir="ltr"><button type="button" data-role="none"
                        class="slick-arrow slick-prev slick-disabled" style="display: block;"> Previous</button>
                    <div class="slick-list">
                        <div class="slick-track"
                            style="width: 53500px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                                aria-hidden="false" style="outline: none; width: 500px;">
                                <div>
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="imgbox-content"><img
                                                    src="https://images.foody.vn/res/g15/144507/s570x570/b73d8d12-b34d-4f69-95ee-b80c1cee-7722b736-211012075748.jpeg"
                                                    alt="Phomai  viên">
                                                <div class="imgbox-caption">
                                                    <div class="row align-items-center">
                                                        <div class="col align-left">
                                                            <div class="imgbox-food-name">Phomai viên</div>
                                                            <div class="imgbox-desc"></div>
                                                            <div class="imgbox-total">Đã được đặt<span
                                                                    class="txt-bold">&nbsp;100&nbsp;</span>lần</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="imgbox-current-price">10,000đ</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer content-center"><button type="button"
                                                class="btn btn-red"><span class="txt-bold">+&nbsp;</span>Thêm vào
                                                giỏ</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><button type="button" data-role="none" class="slick-arrow slick-next" style="display: block;">
                        Next</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade modal-topping" id="modal-topping" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row align-items-center">
                        <div class="col-auto topping-dish-image"><img src=""></div>
                        <div class="col topping-summary">
                            <div class="topping-dish-name"></div>
                            <div class="topping-dish-price">Giá: </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="topping-category"></div>
                </div>
                <div class="modal-footer">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="topping-add-sub">
                                <div class="btn-sub">-</div><input type="text" disabled="" value="1">
                                <div class="btn-adding">+</div>
                            </div>
                        </div>
                        <div class="col-auto"><button type="button" class="btn btn-over"><span>Hết hàng</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="modal fade modal-alert" id="modal-delivery-alert-MenuAlertModal" tabindex="-1" role="dialog"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-noti" role="document">
            <div class="modal-content"><span class="close" data-dismiss="modal">x</span>
                <div class="modal-header txt-bold font13"><span class="txt-red">ShopeeFood</span> Thông báo</div>
                <div class="modal-body">
                    <div class="col col-12">
                        <p class="font15"><span></span></p>
                    </div>
                </div>
                <div class="modal-footer content-right"><button type="button" class="btn btn-red"
                        data-dismiss="modal">Ok</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-box-image" id="modal-box-image" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="res-menu-carousel"></div>
        </div>
    </div>
    <div class="modal fade modal-alert" id="modal-delivery-confirm-MenuConfirmModal" tabindex="-1" role="dialog"
        aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"><span class="close" data-dismiss="modal">x</span>
                <div class="modal-header txt-bold font13"><span class="txt-red">service_by_shopeefood</span> Thông báo
                </div>
                <div class="modal-body">
                    <p class="font15 max-width-750"></p>
                </div>
                <div class="modal-footer content-right"><button type="button" class="btn btn-gray"
                        data-dismiss="modal">Hủy</button><button type="button" class="btn btn-red"
                        data-dismiss="modal">Ok</button></div>
            </div>
        </div>
    </div> -->
</div>
<div>
    <app-pay [cart]="menupay" [total]="total"></app-pay>
</div>