.container[_ngcontent-rwy-c90], .container-fluid[_ngcontent-rwy-c90] {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.menu-restaurant-list .search-items {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background: #fff;
    z-index: 2;
    padding: 15px 0 10px;
}

.menu-restaurant-list .search-items .input-group {
    margin: 0;
    position: relative;
    color: #46464c;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.menu-restaurant-list .search-items .input-group input {
    width: 100%;
    padding: 0 40px;
    border: 0;
    border: 1px solid #ededed;
    height: 40px;
    font-size: 16px;
}

.menu-restaurant-list .search-items .input-group .fa-search {
    left: 0;
}
.menu-restaurant-list .search-items .input-group i {
    position: absolute;
    padding: 15px;
    line-height: 10px;
}
.now-menu-restaurant {
    width: 845px;
    margin-bottom: 20px;
    min-height: 226px;
    float: left;
}

.item-restaurant-row .item-restaurant-desc {
    font-size: 13px;
    color: #464646;
    display: block;
    padding-top: 5px;
    line-height: 1.6em;
}

.item-restaurant-row .item-restaurant-total {
    font-size: 11px;
    color: #9fa9aa;
}


.now-menu-restaurant .menu-restaurant-tab .item.active {
    font-weight: 700;
    color: #cf2127;
    cursor: default;
}
.now-menu-restaurant .menu-restaurant-tab .item {
    color: #6d6f71;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    padding: 13px 26px;
}

.menu-restaurant-content-tab {
    position: relative;
}
.now-menu-restaurant .menu-restaurant-category {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-restaurant-category {
    border: 1px solid #ebebeb;
    padding: 15px 5px 15px 15px;
    width: 235px;
    margin-right: 10px;
    background: #fff;
    border-radius: 4px;
}
.menu-restaurant-category .list-category {
    position: relative;
}
.menu-restaurant-category .scrollbar-container {
    max-height: calc(100vh - 100px);
    position: relative;
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.menu-restaurant-category .list-category .item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    padding: 2px 0;
}
.menu-restaurant-detail {
    width: 590px;
    padding: 6px 15px;
    float: right;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background: #fff;
}
.menu-restaurant-list, body {
    position: relative;
}
.menu-restaurant-list .search-items {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background: #fff;
    z-index: 2;
    padding: 15px 0 10px;
}
.menu-restaurant-list .search-items .input-group {
    margin: 0;
    position: relative;
    color: #46464c;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.menu-restaurant-list .item-restaurant-row {
    padding-top: 10px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
    position: relative;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.menu-restaurant-list .item-restaurant-row .item-restaurant-img button {
    background: none!important;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    cursor: pointer;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.item-restaurant-row .item-restaurant-img img {
    width: 60px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.item-restaurant-row .item-restaurant-name {
    color: #464646;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.3em;
    font-weight: 700;
    margin-bottom: 0;
}
.item-restaurant-row .old-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #6d6f71;
}
.item-restaurant-row .current-price {
    font-size: 16px;
    font-weight: 700;
    color: #0288d1;
}
.txt-right {
    text-align: right!important;
}
.btn-adding {
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    line-height: 20px;
    width: 22px;
    height: 22px;
    background-color: #ee4d2d;
}
.menu-group{
    height: 56px;
    left: 0px;    
    top: 0px;
    width: 100%;
}
.menu-restaurant-list .title-menu {
    text-transform: uppercase;
    color: #6d6f71;
    padding: 5px 0 0;
    margin: 10px 0 20px;
}

.btn-adding, .btn-over {
    text-align: center;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

#modal-box-image {
    z-index: 1049;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade {
    transition: opacity .15s linear;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
}
.modal.show .modal-dialog {
    transform: translate(0);
    margin-top: 5%;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(0);
}
.now-menu-restaurant .modal-dialog {
    pointer-events: auto;
}
.modal-box-image .modal-dialog {
    width: 530px;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    margin: 1.75rem auto;
}
.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}
.modal-box-image .modal-content {
    border-radius: 0;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-box-image .modal-body {
    padding: 0;
    position: relative;
}
.modal-body {
    color: #464646;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 15px;
}
.modal-box-image .imgbox-content {
    position: relative;
}
.modal-box-image .imgbox-content img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    max-height: 530px;
}
.modal-box-image .imgbox-caption {
    color: #fff;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.8);
    padding: 10px;
}
.now-menu-restaurant .align-left {
    text-align: left;
}
.modal-box-image .imgbox-food-name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}
.modal-box-image .imgbox-total {
    font-size: 11px;
}
.modal-box-image .imgbox-current-price {
    font-size: 16px;
}
.modal-footer.content-center {
    -ms-flex-pack: center;
    justify-content: center;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
}
.modal-box-image .modal-footer .btn {
    font-size: 16px;
    width: 50%;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.res-menu-carousel .btn-red {
    background-color: #cf2127;
    color: #fff;
    border-color: #cf2127;
    padding: 4px 10px;
}
.txt-bold {
    font-weight: 700!important;
}
.item-restaurant-row .item-restaurant-total .txt-bold {
    color: #464646;
}