<footer class="main-footer">
    <div class="container">
        <div class="container-inner">
            <div class="block-footer">
                <p class="title-block">Công ty</p>
                <ul class="menu-footer">
                    <li class="menu-item">
                        <a href="/gioithieu">Giới thiệu</a></li>
                    <li class="menu-item"><a href="/dieukhoan">Điều khoản sử dụng</a></li>
                    <li class="menu-item"><a href="dangkiquan">Đăng ký quán</a></li>
                    <li class="menu-item"><a href="dangkishipper">Đăng ký shipper</a></li>
                </ul>
            </div>
            <div class="block-footer">
                <p class="title-block">Ứng dụng Marketgo</p>
                
            </div>
            <div class="block-footer txt-center">
                <div class="logo-footer">
                    <a href="/">
                    <img src="assets/img/icon.png" alt="marketgo" class="delivery-footer-logo">
                    </a>
                </div>
                <p class="font12">© 2021  Marketgo</p>
            </div>
            <div class="block-last">
                <p class="title-block">Công ty</p>
                <span>
                    <p>Công Ty Cổ Phần Quang Thắng</p>
                    <p>Toàn nhà golden,</p>
                    <p>Số 126 đường Tuệ Tĩnh, Thành phố Hải Dương, Hải Dương</p>
                    <p>Giấy CN ĐKDN số: 0311886699</p>
                    <p>do Sở Kế hoạch và Đầu tư TP.Hải Dương cấp ngày 11/6/2021</p>
                    <p>Số điện thoại: 0866840599</p>
                    <p>Email: <a href="mailto:vuthangit2000@gmail.com">info@Marketgo.com</a></p>
                </span>
            </div>
        </div>
    </div>
</footer>
