.main-footer {
    clear: both;
}
.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.main-footer .container-inner {
    padding-top: 32px;
    padding-bottom: 25px;
    font-size: 14px;
    overflow: hidden;
    clear: both;
}
.main-footer .block-footer {
    width: 241px;
    float: left;
    color: #959595;
}

.main-footer .title-block {
    font-weight: 700;
    color: #252525;
    margin-bottom: 25px;
    font-size: 16px;
}

.main-footer .menu-footer {
    line-height: 25px;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.main-footer .menu-item {
    cursor: pointer;
    color: #959595;
}

a{
    text-decoration: none;
    color: #08f;
}

.font12 {
    font-size: .75rem!important;
}
.main-footer .logo-footer {
    margin-top: 14px;
    margin-bottom: 17px;
}.main-footer .logo-footer img {
    max-width: 100px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.main-footer .block-last {
    text-align: right;
    float: right;
    font-size: 16px;
}