<div class="item-restaurant-row">
    <div class="row">
        <div class="col-auto item-restaurant-img"><button class="inline"><img
                    src="https://images.foody.vn/res/g102/1019316/s120x120/f388081c-c702-41d0-a048-121072464092.jpg"
                    alt="Lạp Xưởng Rán" width="60" height="60"></button></div>
        <div class="col item-restaurant-info">
            <h2 class="item-restaurant-name">{{text}}</h2>
        </div>
        <div class="col-auto item-restaurant-more">
            <div class="row ">
                <div class="col-auto product-price">
                    <div class="old-price">10,000<span
                            style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                    </div>
                    <div class="current-price">9,000<span
                            style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                    </div>
                </div>
                <div class="col-auto adding-food-cart txt-right">
                    <div class="btn-adding">+</div>
                </div>
            </div>
        </div>
    </div>
</div>