<div class="alert-box success"><span>success: </span>Đặt hàng thành công</div>
<div class="modal-content modal-order-detail"><span class="close" data-dismiss="modal">x</span>
    <div class="modal-header">Xác nhận đơn hàng<span class="btn-continue">Đặt hàng<i
                class="fas fa-arrow-right"></i></span></div>
    <div class="modal-body">
        <div class="order-left">
            <div class="map-order">
                <div class="embed-responsive map-order">
                    
                    <div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="direction-content">
                <div class="direction-info">
                    <div class="direction-from">
                        <div class="direction-name">{{restaurant.name}}</div>
                        <div class="direction-name">{{restaurant.address}}</div>
                    </div>
                    <div class="direction-to">
                        <div class="">
                            <div class="direction-name" id="shipping-address"><span>{{user.name}}</span></div>
                        </div>
                        <div id="popup-order-add-new-address" *ngIf="user.address == null"><span>Thêm địa chỉ mới</span></div>
                        <div id="popup-order-address" *ngIf="user.address != null"><span>{{user.address}}</span></div>
                    </div>
                </div>
                <div>
                    <div class="direction-time"><span class="fa"><i class="far fa-clock"></i></span><span
                            class="txt-bold"> Dự kiến: Sớm nhất có thể - 19:57 - 11/11 - </span><span
                            class="txt-red">{{Distance}}km</span></div>
                    <div class="change-info">Thay đổi thông tin nhận hàng<i class="icon-arrow-thin right"
                            aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="order-right">
            <p class="title-popup-order">Chi tiết đơn hàng<i class="icon-arrow-thin right" aria-hidden="true"></i></p>
            <div class="order-list">
                <div class="order-item" *ngFor="let d of data"><span class="order-item-number">{{d.total}}</span>
                    <div class="order-item-info">
                        <div class="order-item-name"><span class="txt-bold">{{d.name}}&nbsp;</span></div>
                        <div class="order-item-note"></div>
                    </div>
                    <div class="order-item-price">{{d.price * d.total}}<span class="format-price">đ</span></div>
                </div>
            </div>
            <div class="info-order">
                <div class="row">
                    <div class="col">Phí ship</div>
                    <div class="col-auto txt-bold">{{price_ship}}<span class="format-price">đ</span></div>
                </div>
            </div>
            <div class="info-order">
                <div class="row">
                    <div class="col">Tổng cộng <span class="txt-bold">{{sl}}</span> phần</div>
                    <div class="col-auto txt-bold">{{total}}<span class="format-price">đ</span></div>
                </div>
            </div>
            <div class="padding-10 txt-bold font16"></div>
            <div class="payment-methods">
                <div class="row">
                    <div class="col"><span class="txt-bold font16 txt-black">Tiền mặt</span></div>
                    <div class="col-auto"><span class="txt-blue">Thay đổi</span></div>
                </div>
            </div>
            <div class="order-note"><textarea placeholder="Ví dụ: Tòa nhà ABC, lầu 8, cho thêm 2 ly nhựa...."
                    name="note"></textarea></div>
            <div class="not-vat"><span class="icon icon-vatnot"></span><span class="txt-gray">Không xuất hoá đơn
                    VAT</span></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="submit-order" (click)="pay()">Đặt hàng <i class="fas fa-arrow-right"></i><span class="total-price"></span></div>
    </div>
</div>