.modal-order-detail {
    width: 885px;
}

.modal-order-detail {
    font-size: 13px;
}
.modal-content {
    margin: -24px;
}

.icon-address, .icon-app-phone, .icon-app-store-big, .icon-app-store-lg, .icon-app-store-md, .icon-app-store-sm, .icon-benefit-air-conditioner, .icon-benefit-booking, .icon-benefit-bring-on, .icon-benefit-card, .icon-benefit-delivery, .icon-benefit-disabilities, .icon-benefit-football, .icon-benefit-heater, .icon-benefit-karaoke, .icon-benefit-member, .icon-benefit-music, .icon-benefit-parking, .icon-benefit-parking-free, .icon-benefit-playground, .icon-benefit-pool, .icon-benefit-room, .icon-benefit-seminor, .icon-benefit-smoking, .icon-benefit-sun, .icon-benefit-tennis, .icon-benefit-tip, .icon-benefit-vat, .icon-benefit-wifi, .icon-box, .icon-cash-payment, .icon-cc-payment, .icon-check-green, .icon-clock, .icon-close-gray, .icon-corporate, .icon-discount-airpay, .icon-discount-code, .icon-discount-first-order, .icon-discount-free-ship, .icon-discount-new, .icon-discount-order-group, .icon-discount-order-larger, .icon-gg-play-big, .icon-gg-play-lg, .icon-gg-play-md, .icon-gg-play-sm, .icon-ib-payment, .icon-jcb, .icon-lag-en, .icon-lag-th, .icon-lag-vn, .icon-local-map, .icon-location, .icon-master, .icon-merchant-airpay, .icon-merchant-lg, .icon-merchant-marketing, .icon-merchant-shipper, .icon-merchant-system, .icon-money, .icon-money-sm, .icon-now-payment, .icon-paging-next, .icon-paging-pre, .icon-parnership, .icon-phone, .icon-phone-verified, .icon-phone-white, .icon-pickup, .icon-power-off, .icon-preorder, .icon-price-tag, .icon-promo, .icon-promotion-now, .icon-restaurant, .icon-search, .icon-search-gray, .icon-search-orangen, .icon-sprite, .icon-tablenow, .icon-tablenow-footer, .icon-tb-blog, .icon-tb-dessert, .icon-tb-entertainment, .icon-tb-restaurant, .icon-thumbtack, .icon-time-gray, .icon-time-white, .icon-upload, .icon-user-history, .icon-user-logout, .icon-user-update, .icon-vatnot, .icon-verify-merchant, .icon-via-key, .icon-via-sms, .icon-visa, .modal .close {
    background-image: url(/app/assets/img/bg-icon.png?2404d5c…);
}
.modal .close {
    color: #fff;
    cursor: pointer;
    text-shadow: none;
    font-size: 0;
    line-height: 14px;
    position: absolute;
    top: -22px;
    left: auto;
    right: 0;
    padding: 2px 7px 9px;
    z-index: 99;
    font-weight: 400;
    opacity: 1;
    background-position: -401px -335px;
}
.modal-order-detail .modal-header {
    font-size: 16px;
    font-weight: 700;
    background-color: #ebebeb;
    color: #000;
    padding: 7px 10px;
    position: relative;
    border: 0;
    border-radius: 5px 5px 0 0;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 15px;    
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.btn-continue {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: block;
    padding: 3px 25px;
    background-color: #0288d1;
    cursor: pointer;
    transition: all .2s ease;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 3px;
}
.modal-order-detail .modal-body {
    padding: 0;
}
.modal-footer {
    text-align: center;
    clear: both;
    position: relative;
    background-color: #ebebeb;
    padding: 7px;
    border-radius: 0 0 5px 5px;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
}
.modal-order-detail .modal-footer .submit-order {
    color: #fff;
    background-color: #0288d1;
}
.modal-footer .submit-order {
    font-size: 16px;
    font-weight: 700;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    transition: all .2s ease;
    width: 100%;
    border-radius: 5px;
}
.modal-footer .total-price {
    position: absolute;
    top: 17px;
    right: 20px;
    font-weight: 400;
}
.fa, .fas {
    font-weight: 900;
}

.modal-body .order-left {
    width: 43%;
    float: left;
    position: relative;
}
.modal-body .order-right {
    font-size: 14px;
    float: left;
    width: 57%;
    border-left: 10px solid #d7d7d7;
    height: 100%;
}
.modal-body .map-order {
    height: 330px;
    border-bottom: 5px solid #d7d7d7;
}
.direction-content {
    padding-left: 10px;
    border-top: 0;
}
.direction-info {
    padding: 5px 10px 5px 23px;
    overflow: hidden;
}
.direction-content .direction-from, .direction-content .direction-to {
    padding: 5px 0;
    position: relative;
}
.direction-content .direction-from, .direction-content .direction-to {
    padding: 5px 0;
    position: relative;
}
.direction-content .direction-name {
    font-size: 13px;
    font-weight: 700;
    line-height: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 96%;
}
.direction-content .direction-name {
    font-size: 13px;
    font-weight: 700;
    line-height: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 96%;
}
.direction-content .direction-name {
    font-size: 13px;
    font-weight: 700;
    line-height: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 96%;
}
#popup-order-add-new-address {
    color: #0288d1;
    cursor: pointer;
}
#popup-order-address {
    color: black;
    cursor: pointer;
}
.direction-content .direction-time {
    border: 1px solid #464646;
    border-radius: 12px;
    display: inline-block;
    padding: 2px 3px;
    background-color: #fbf9d8;
}
.change-info {
    font-size: 14px;
    color: #0288d1;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.direction-content .direction-time .fa {
    vertical-align: middle;
    margin-bottom: 2px;
}
.txt-bold {
    font-weight: 700!important;
}
.txt-red, .txt-red-dark {
    color: #ee4d2d!important;
}
.icon-arrow-thin.right {
    transform: rotate(
-45deg);
}
.icon-arrow-thin {
    font-size: 22px;
    border-color: #959595;
    position: absolute;
    top: 17px;
    right: 10px;
}
.right {
    float: right;
}
.icon-arrow-thin {
    border: solid #252525;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
 .title-popup-order {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin: 0;
    padding: 7px 10px;
    cursor: pointer;
    position: relative;
}
 .order-list {
    max-height: 92px;
    overflow-y: auto;
}
 .order-list .order-item {
    color: #252525;
    position: relative;
    padding: 4px 0;
}
 .order-list .order-item-number {
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 7px;
    left: 10px;
    width: 15px;
    height: 15px;
    background-color: #0288d1;
    line-height: 14px;
    border-radius: 4px;
    padding-top: 1px;
}
 .order-list .order-item-info {
    padding-left: 30px;
    padding-right: 65px;
}
 .order-list .order-item-price {
    font-size: 14px;
    position: absolute;
    top: 6px;
    right: 10px;
}
 .info-order {
    border-top: 7px solid #d7d7d7;
    padding: 4px 10px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.font16 {
    font-size: 1rem!important;
}
.txt-bold {
    font-weight: 700!important;
}
.padding-10 {
    padding: 10px;
}
 .payment-methods {
    cursor: pointer;
    background-color: #fbf9d8;
    padding: 7px 25px 7px 10px;
    position: relative;
}
.txt-blue {
    color: #0288d1!important;
}
 .order-note {
    padding: 7px 10px 0;
    position: relative;
}
 .order-note textarea {
    font-size: 15px;
    min-height: inherit;
    overflow-y: hidden;
    resize: none;
    padding: 0 25px 0 0;
    height: 30px;
    width: 100%;
    max-width: 100%;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    transition: all .2s;
    height: 24px;
}
textarea {
    overflow: auto;
    resize: vertical;
}
 .not-vat {
    color: #959595;
    padding: 10px;
}
 .not-vat .icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.icon-vatnot {
    width: 20px;
    height: 20px;
    background-position: -15px -358px;
    background: url("https://shopeefood.vn/app/assets/img/bg-icon.png?2404d5c158d1d09104c34443b2fd5f44");
}
.modal-footer .submit-order {
    color: #fff;
    background-color: #0288d1;
}
.modal-order-detail .order-left:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    background-color: #d7d7d7;
    width: 10px;
}
.mat-dialog-container{
    padding: 0px;
}
.success {
    background: #e9ffd9 url('/assets/img/success.png') no-repeat 10px 50%;
    border: 1px solid #a6ca8a;
    display: none;
}
.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
}
.alert-box {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 11px;
    padding: 10px 10px 10px 36px;
    margin: 10px;
}
.show{
    display: block;
}