.main-footer {
    clear: both;
}
.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.main-footer .container-inner {
    padding-top: 32px;
    padding-bottom: 25px;
    font-size: 14px;
    overflow: hidden;
    clear: both;
}
.main-footer .block-footer {
    width: 241px;
    float: left;
    color: #959595;
}

.main-footer .title-block {
    font-weight: 700;
    color: #252525;
    margin-bottom: 25px;
    font-size: 16px;
}

.main-footer .menu-footer {
    line-height: 25px;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.main-footer .menu-item {
    cursor: pointer;
    color: #959595;
}

a{
    text-decoration: none;
    color: #08f;
}

.font12 {
    font-size: .75rem!important;
}
.main-footer .logo-footer {
    margin-top: 14px;
    margin-bottom: 17px;
}.main-footer .logo-footer img {
    max-width: 100px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.main-footer .block-last {
    text-align: right;    
    font-size: 16px;
}
.container-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 70px;
}
.container-header .header-content {
    position: relative;
    margin: 0;
    min-height: 42px;
    align-items: center!important;
    justify-content: space-between!important;
    height: 100%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.container-header .drop-down {        
    position: relative;
    cursor: pointer;    
    border: 0;
    width: 100%;
    padding: 10px 27px 10px 19px;
    background-color: #f0f0f0;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.main-nav {
    padding-left: 48px;
    padding-right: 0;
    white-space: nowrap;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.main-nav .nav-item {
    color: #252525;
    cursor: pointer;
    padding: 10px 12px 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 4px solid transparent;
    font-size: 14px;
}

a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.main-nav .nav-item.active {
    color: #ee4d2d;
    font-weight: 700;
    border-bottom-color: #ee4d2d;
}

.container-header .btn-login {
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}
.btn-none-bg {
    color: #0288d1;
    background-color: transparent;
    transition: .1s ease;
}
.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #0288d1;
    border-radius: 6px;
    padding: .23rem .6rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container-header .select-local .dropdown-item {
    border-bottom: 1px solid #ebebeb;
    padding: 5px 5px 5px 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.container-header .logo-now {
    position: absolute;
    right: 100%;
    cursor: pointer;
    margin-right: 72px;
    padding-left: 0;
}
.logo-now img[alt=Marketgo] {
    height: 35px;
}

.banner-partnership {
    padding-top: 70px;
    position: relative;
    overflow: hidden;
    background: url(/assets/img/bg-partnership.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.form-partnership {
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    float: left;
    margin: 35px 0;
}
.form-partnership .title {
    font-size: 18px;
    font-weight: 700;
    color: #ee4d2d;
    text-align: center;
    background-color: #fafafa;
    padding: 24px 10px 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #b8becc;
}
.form-partnership .title {
    border-radius: 5px 5px 0 0;
}
.form-partnership .content-form {
    padding: 25px 30px 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.form-partnership select, .form-partnership select option:checked {
    color: #000;
}
.form-partnership input[type=number], .form-partnership input[type=text], .form-partnership select, .form-partnership textarea {
    font-size: 18px;
    width: 100%;
    height: 42px;
    border-radius: 3px;
    margin-bottom: 16px;
    outline: none;
}
.form-partnership select {
    color: #818181;
}
.form-partnership input[type=number], .form-partnership input[type=text], .form-partnership select, .form-partnership textarea {
    border: 1px solid #b8becc;
    padding: 5px 5px 5px 15px;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.wrapper input[type=color], .wrapper input[type=date], .wrapper input[type=datetime-local], .wrapper input[type=datetime], .wrapper input[type=email], .wrapper input[type=month], .wrapper input[type=number], .wrapper input[type=password], .wrapper input[type=search], .wrapper input[type=tel], .wrapper input[type=text], .wrapper input[type=time], .wrapper input[type=url], .wrapper input[type=week], .wrapper select:focus, .wrapper textarea {
    font-size: 16px;
}
.form-partnership input[type=number], .form-partnership input[type=text], .form-partnership select, .form-partnership textarea {
    font-size: 18px;
    width: 100%;
    height: 42px;
    border-radius: 3px;
    margin-bottom: 16px;
    outline: none;
}

.form-partnership input[type=number], .form-partnership input[type=text], .form-partnership select, .form-partnership textarea {
    border: 1px solid #b8becc;
    padding: 5px 5px 5px 15px;
}
.form-partnership .btn-register.btn {
    border-color: #ee4d2d;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.form-partnership .btn-register {
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background-color: #ee4d2d;
    width: 100%;
    padding: 4px 10px;
    margin-top: 16px;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #0288d1;
    border-radius: 6px;
    padding: .23rem .6rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.banner-partnership .banner-info {
    overflow: hidden;
    color: #fff;
    padding-top: 5%;
    padding-left: 2%;
    font-size: 30px;
}
.banner-partnership .banner-info-title {
    width: 628px;
    font-weight: 700;
    text-align: center;
}
.banner-partnership .banner-info p {
    margin-bottom: 0;
}
.banner-partnership .banner-info p {
    margin-bottom: 0;
}
.text-uppercase {
    text-transform: uppercase!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.banner-partnership .banner-info .btn {
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    border: 0;
    border-radius: 0;
    position: relative;
    margin-top: 19px;
    width: 245px;
    height: 66px;
    padding-left: 45px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.partner-list-service {
    overflow: hidden;
    background-color: #fff;
    padding-top: 77px;
    padding-bottom: 86px;
}
.partner-list-service .list-service-title {
    text-align: center;
    color: #3c3c3c;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 77px;
}
.partner-list-service .service-item {
    text-align: center;
    width: 25%;
    float: left;
}
.partner-list-service .service-inner {
    padding: 0 15px;
}
.partner-list-service .service-image {
    display: block;
    margin: auto;
    height: 96px;
}
.partner-list-service .service-title {
    color: #ee4d2d;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0 12px;
}
.partner-list-service .service-content {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
.partner-process-register {
    background-color: #fff;
    padding: 86px 0 158px;
}
.partner-process-register .process-register-title {
    color: #3c3c3c;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
}
.partner-process-register .process-steps__image {
    width: 214px;
    height: 215px;
    margin-bottom: 36px;
    margin-left: 50px;
}
.register-step__threading {
    position: absolute;
    width: calc(100% - 176px);
    height: 8px;
    left: 88px;
    top: 19px;
    background-color: #ee4d2d;
}
.register-step__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.register-step__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 1 1;
    flex: 1 1;
    width: 176px;
    z-index: 1;
}
.register-step__item-index {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ee4d2d;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 17px;
}
.register-step__item-desc {
    width: 100%;
    text-align: center;
    font-size: 16px;
    word-wrap: break-word;
    color: #464646;
}
.register-step__item-desc {
    width: 100%;
    text-align: center;
    font-size: 16px;
    word-wrap: break-word;
    color: #464646;
}
.register-step {
    position: relative;
    width: 100%;
}
.partner-information {
    color: #000;
    background-color: #f5f5f5;
    padding: 62px 0;
}
.partner-information .col-5 {
    padding-right: 35px;
}
.col-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.partner-information .partner-information-local, .partner-information .partner-information-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}
.partner-information .partner-information-local, .partner-information .partner-information-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}
.partner-information .partner-information-local p {
    font-size: 24px;
}
.partner-information .address {
    font-weight: 400;
    padding-left: 26px;
    padding-top: 2px;
    line-height: 38px;
}
.partner-information .col-6 {
    padding-left: 63px;
    margin-left: 46px;
    border-left: 1px solid #979797;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.partner-information .partner-information-local, .partner-information .partner-information-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}
.partner-information .partner-information-list {
    padding-left: 15px;
}
.partner-information .partner-information-list .item {
    font-size: 24px;
    position: relative;
    padding-left: 54px;
    padding-bottom: 28px;
}.topcontrol.active {
    transform: translate(0);
}
.topcontrol {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 40px;
    background: #c2c2c2;
    font-size: 12px;
    z-index: 999;
    transition: transform .4s;
    transform: translateY(100%);
}
.topcontrol .control-link {
    text-align: center;
    display: block;
    padding: 5px 0;
    white-space: nowrap;
    position: relative;
}
.topcontrol .fab, .topcontrol .fas {
    font-size: 22px;
    color: #464646;
}
.fa, .fas {
    font-weight: 900;
}
.control-link:hover{
    background-color: #E6E6FA;
}
.topcontrol .control-link label {
    color: #464646;
    position: absolute;
    background: #ebebeb;
    top: 0;
    right: 100%;
    bottom: 0;
    padding: 10px;
    margin-bottom: 0;
    display: none;
}