<div class="now-list-restaurant now-list-restaurant-row home-tab">
    <div class="header-tab row align-items-center">
        <!-- <div class="col">
            <button class="item-tab active">Gần tôi</button>
            <button class="item-tab false">Bán chạy</button>
            <button class="item-tab false">Đánh giá</button>
            <button class="item-tab false">Giao nhanh</button>
        </div> -->
        <mat-tab-group class="test" (click)="clickLoad()">
            <mat-tab label="Gần tôi"> 
                <div class="list-restaurant" *ngFor="let s of restaurant">
                    <div class="item-restaurant" id="s.idShop">
                        <a href="/home/shop/{{s.idShop}}" target="blank" class="item-content">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="{{s.avatar}}" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">{{s.name}}</div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">{{s.address}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="item-res-distant"></div>
                                            </div>
                                        </div>
                                        <div class="item-res-info">
                                            <i class="fas fa-tags"></i>
                                            Tối thiểu 20K
                                            <i class="fas fa-dollar-sign"></i>
                                            Giá 
                                        </div>
                                        <div class="content-promotion pt-1 pl-0 pb-0">
                                            <i class="fas fa-tag"></i>
                                            Ưu đãi
                                        </div>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link">
                        <span class="pr-1">Xem them</span>
                    </button>
                </div>
                <div class="end-check-point"></div>
            </mat-tab>
            <mat-tab label="Bán chạy">
                <div class="list-restaurant" *ngFor="let s of restaurant" (click)="test(s.idShop)">
                    <div class="item-restaurant">
                        <a href="/home/shop/{{s.idShop}}" target="blank" class="item-content">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="{{s.avatar}}" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">{{s.name}}</div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">{{s.address}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="item-res-distant"></div>
                                            </div>
                                        </div>
                                        <div class="item-res-info">
                                            <i class="fas fa-tags"></i>
                                            Tối thiểu 20K
                                            <i class="fas fa-dollar-sign"></i>
                                            Giá 
                                        </div>
                                        <div class="content-promotion pt-1 pl-0 pb-0">
                                            <i class="fas fa-tag"></i>
                                            Ưu đãi
                                        </div>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link">
                        <span class="pr-1">Xem them</span>
                    </button>
                </div>
                <div class="end-check-point"></div>
            </mat-tab>
            <mat-tab label="Đánh giá">
                <div class="list-restaurant" *ngFor="let s of restaurant">
                    <div class="item-restaurant">
                        <a href="" class="item-content">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="{{s.avatar}}" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">{{s.name}}</div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">{{s.address}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="item-res-distant"></div>
                                            </div>
                                        </div>
                                        <div class="item-res-info">
                                            <i class="fas fa-tags"></i>
                                            Tối thiểu 20K
                                            <i class="fas fa-dollar-sign"></i>
                                            Giá 
                                        </div>
                                        <div class="content-promotion pt-1 pl-0 pb-0">
                                            <i class="fas fa-tag"></i>
                                            Ưu đãi
                                        </div>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link">
                        <span class="pr-1">Xem them</span>
                    </button>
                </div>
                <div class="end-check-point"></div>
            </mat-tab>
            <mat-tab label="Giao nhanh">
                <div class="list-restaurant" *ngFor="let s of restaurant">
                    <div class="item-restaurant">
                        <a href="" class="item-content">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="img-restaurant">
                                        <img src="{{s.avatar}}" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="info-restaurant">
                                        <div class="name-res">{{s.name}}</div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="address-res mb-1">{{s.address}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <div class="item-res-distant"></div>
                                            </div>
                                        </div>
                                        <div class="item-res-info">
                                            <i class="fas fa-tags"></i>
                                            Tối thiểu 20K
                                            <i class="fas fa-dollar-sign"></i>
                                            Giá 
                                        </div>
                                        <div class="content-promotion pt-1 pl-0 pb-0">
                                            <i class="fas fa-tag"></i>
                                            Ưu đãi
                                        </div>
                                    </div>
                                </div>
                                <div class="opentime-status">
                                    <span class="stt online"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="txt-center mt-2">
                    <button class="btn-none btn-load-more link">
                        <span class="pr-1">Xem them</span>
                    </button>
                </div>
                <div class="end-check-point"></div>
            </mat-tab>
          </mat-tab-group>
        <!-- <div class="col-auto">
            <select name="districtId" id="">
                <option value="-1">Chọn quận/ huyện</option>
                <option value="1">Cầu Giấy</option>
                <option value="2">Linh Đàm</option>
                <option value="3">Hoàn Kiếm</option>
            </select>
        </div> -->
    </div>
</div>