.now-list-restaurant {
    padding: 13px 40px 10px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
}
.now-list-restaurant-row {
    background-color: #fff;
    padding-bottom: 10px;
}
.now-list-restaurant {
    border-radius: 6px;
    margin-bottom: 20px;
    position: relative;
}
.header-tab {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 8px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    min-width: 0;
}
.item-tab {
    cursor: pointer;
    line-height: 22px;
    margin-right: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.item-tab.active {
    color: #0288d1;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    
}

.header-tab select {
    font-size: 14px;
    padding: 6px 0 6px 5px;
    border-radius: 4px;
    border-color: #d7d7d7;
    max-width: 200px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.now-list-restaurant .list-restaurant {
    
    position: relative;
}
.now-list-restaurant-row .item-restaurant {
    width: 100%;
    padding: 10px;
}
.now-list-restaurant .img-restaurant img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.now-list-restaurant-row .item-content {
    position: relative;
    display: block;
}

.now-list-restaurant .item-content {
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    display: block;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.now-list-restaurant-row .img-restaurant {
    height: 90px;
}

.now-list-restaurant .img-restaurant {
    height: 116px;
}
.now-list-restaurant-row .img-restaurant {
    width: 142px;
    height: 90px;
    border-radius: 4px;
}
/* .now-list-restaurant .img-restaurant {
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    height: 137px;
    background: #eaeaea;
} */
.info-restaurant {
    height: inherit;
    border: 0;
    padding-left: 15px;
}

.now-list-restaurant .info-restaurant {
    /* border: 1px solid #d7d7d7; */
    border-radius: 0 0 6px 6px;
    height: 84px;
}
.info-restaurant .name-res {
    font-size: 16px;
    padding-top: 0;
    margin-top: -3px;
}

.now-list-restaurant .info-restaurant .name-res {
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1px;
    padding-top: 5px;
}
.info-restaurant .address-res {
    font-size: 14px;
}

.now-list-restaurant .info-restaurant .address-res {
    font-size: 12px;
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a {
 
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}
.now-list-restaurant-row .item-res-distant {
    color: #9fa9aa;
    font-size: 14px;
}
.now-list-restaurant-row .item-res-info {
    font-size: 14px;
    color: #000;
    position: relative;
}
.now-list-restaurant-row .item-res-info .icon {
    zoom: .5;
    -moz-transform: scale(.5);
    -moz-transform-origin: 0 0;
    margin-right: 10px;
    vertical-align: sub;
}

.icon-price-tag {
    width: 32px;
    height: 32px;
    background-position: -111px -205px;
}
/* .icon-address, .icon-app-phone, .icon-app-store-big, .icon-app-store-lg, .icon-app-store-md, .icon-app-store-sm, .icon-benefit-air-conditioner, .icon-benefit-booking, .icon-benefit-bring-on, .icon-benefit-card, .icon-benefit-delivery, .icon-benefit-disabilities, .icon-benefit-football, .icon-benefit-heater, .icon-benefit-karaoke, .icon-benefit-member, .icon-benefit-music, .icon-benefit-parking, .icon-benefit-parking-free, .icon-benefit-playground, .icon-benefit-pool, .icon-benefit-room, .icon-benefit-seminor, .icon-benefit-smoking, .icon-benefit-sun, .icon-benefit-tennis, .icon-benefit-tip, .icon-benefit-vat, .icon-benefit-wifi, .icon-box, .icon-cash-payment, .icon-cc-payment, .icon-check-green, .icon-clock, .icon-close-gray, .icon-corporate, .icon-discount-airpay, .icon-discount-code, .icon-discount-first-order, .icon-discount-free-ship, .icon-discount-new, .icon-discount-order-group, .icon-discount-order-larger, .icon-gg-play-big, .icon-gg-play-lg, .icon-gg-play-md, .icon-gg-play-sm, .icon-ib-payment, .icon-jcb, .icon-lag-en, .icon-lag-th, .icon-lag-vn, .icon-local-map, .icon-location, .icon-master, .icon-merchant-airpay, .icon-merchant-lg, .icon-merchant-marketing, .icon-merchant-shipper, .icon-merchant-system, .icon-money, .icon-money-sm, .icon-now-payment, .icon-paging-next, .icon-paging-pre, .icon-parnership, .icon-phone, .icon-phone-verified, .icon-phone-white, .icon-pickup, .icon-power-off, .icon-preorder, .icon-price-tag, .icon-promo, .icon-promotion-now, .icon-restaurant, .icon-search, .icon-search-gray, .icon-search-orangen, .icon-sprite, .icon-tablenow, .icon-tablenow-footer, .icon-tb-blog, .icon-tb-dessert, .icon-tb-entertainment, .icon-tb-restaurant, .icon-thumbtack, .icon-time-gray, .icon-time-white, .icon-upload, .icon-user-history, .icon-user-logout, .icon-user-update, .icon-vatnot, .icon-verify-merchant, .icon-via-key, .icon-via-sms, .icon-visa, .modal .close {
    background-image: url(/app/assets/img/bg-icon.png?2404d5c…);
} */
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
*, :after, :before {
    box-sizing: border-box;
}
.now-list-restaurant-row .item-res-info {
    font-size: 14px;
    color: #000;
    position: relative;
}
.now-list-restaurant .item-content {
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    display: block;
}
.now-list-restaurant-row .item-res-info .icon {
    zoom: .5;
    -moz-transform: scale(.5);
    -moz-transform-origin: 0 0;
    margin-right: 10px;
    vertical-align: sub;
}
.ml-3, .mx-3 {
    margin-left: 1rem!important;
}
.icon-money-sm {
    width: 30px;
    height: 30px;
    background-position: -145px -80px;
}
/* .icon-address, .icon-app-phone, .icon-app-store-big, .icon-app-store-lg, .icon-app-store-md, .icon-app-store-sm, .icon-benefit-air-conditioner, .icon-benefit-booking, .icon-benefit-bring-on, .icon-benefit-card, .icon-benefit-delivery, .icon-benefit-disabilities, .icon-benefit-football, .icon-benefit-heater, .icon-benefit-karaoke, .icon-benefit-member, .icon-benefit-music, .icon-benefit-parking, .icon-benefit-parking-free, .icon-benefit-playground, .icon-benefit-pool, .icon-benefit-room, .icon-benefit-seminor, .icon-benefit-smoking, .icon-benefit-sun, .icon-benefit-tennis, .icon-benefit-tip, .icon-benefit-vat, .icon-benefit-wifi, .icon-box, .icon-cash-payment, .icon-cc-payment, .icon-check-green, .icon-clock, .icon-close-gray, .icon-corporate, .icon-discount-airpay, .icon-discount-code, .icon-discount-first-order, .icon-discount-free-ship, .icon-discount-new, .icon-discount-order-group, .icon-discount-order-larger, .icon-gg-play-big, .icon-gg-play-lg, .icon-gg-play-md, .icon-gg-play-sm, .icon-ib-payment, .icon-jcb, .icon-lag-en, .icon-lag-th, .icon-lag-vn, .icon-local-map, .icon-location, .icon-master, .icon-merchant-airpay, .icon-merchant-lg, .icon-merchant-marketing, .icon-merchant-shipper, .icon-merchant-system, .icon-money, .icon-money-sm, .icon-now-payment, .icon-paging-next, .icon-paging-pre, .icon-parnership, .icon-phone, .icon-phone-verified, .icon-phone-white, .icon-pickup, .icon-power-off, .icon-preorder, .icon-price-tag, .icon-promo, .icon-promotion-now, .icon-restaurant, .icon-search, .icon-search-gray, .icon-search-orangen, .icon-sprite, .icon-tablenow, .icon-tablenow-footer, .icon-tb-blog, .icon-tb-dessert, .icon-tb-entertainment, .icon-tb-restaurant, .icon-thumbtack, .icon-time-gray, .icon-time-white, .icon-upload, .icon-user-history, .icon-user-logout, .icon-user-update, .icon-vatnot, .icon-verify-merchant, .icon-via-key, .icon-via-sms, .icon-visa, .modal .close {
    background-image: url(/app/assets/img/bg-icon.png?2404d5c…);
} */
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
*, :after, :before {
    box-sizing: border-box;
}
.now-list-restaurant-row .item-res-info {
    font-size: 14px;
    color: #000;
    position: relative;
}
.now-list-restaurant .item-content {
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
    display: block;
}
.now-list-restaurant .content-promotion {
    font-size: 13px;
    color: #187caa;
    font-weight: 700;
    padding: 8px 8px 5px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.now-list-restaurant .content-promotion .fas {
    color: #cf2127;
}
.pt-1, .py-1 {
    padding-top: .25rem!important;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}
.pb-0, .py-0 {
    padding-bottom: 0!important;
}
.opentime-status {
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: 1;
}
.opentime-status .online {
    background-color: #6cc942;
    color: #329900;
}
.opentime-status .stt {
    border-radius: 50%;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    z-index: 2;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.txt-center {
    text-align: center!important;
}
.link {
    cursor: pointer;
}

.btn-none {
    color: #0288d1;
    background-color: transparent;
    border: 0;
}
.pr-1, .px-1 {
    padding-right: .25rem!important;
}