<div class="merchant-register">
    <!-- <div>
        <div class="carousel carousel-slider" style="width: 100%;">
            <div class="slider-wrapper axis-horizontal">
                <ul class="slider animated"
                    style="transform: translate3d(-100%, 0px, 0px); transition-duration: 800ms;">
                    <li class="slide">
                        <div class="merchant-register__header"><img class="merchant-register__header--img"
                                src="/app/assets/img/merchant-register-landing-1.jpg?448656b8ae1be4a2b2d1ee829af10fe4"
                                alt="">
                            <div class="merchant-register__header--overlay"></div>
                            <div class="merchant-register__header--content">
                                <div class="merchant-register__header--content__title">ĐỘI NGŨ GIAO HÀNG CHUYÊN NGHIỆP
                                </div>
                                <div class="merchant-register__header--content__sub-title">Đội ngũ Tài xế giao hàng
                                    chuyên nghiệp với quy mô lớn và được đào tạo bài bản với đầy đủ kỹ năng, văn hoá ứng
                                    xử khi giao hàng</div><a
                                    href="/account/login?login_flow=merchant-onboarding"><button
                                        class="merchant-register__header--btn">Đăng Ký Ngay</button></a>
                            </div>
                        </div>
                    </li>
                    <li class="slide selected">
                        <div class="merchant-register__header"><img class="merchant-register__header--img"
                                src="/app/assets/img/merchant-register-landing-2.jpg?9b9e0199c14a72d360ee6d91692d5853"
                                alt="">
                            <div class="merchant-register__header--overlay"></div>
                            <div class="merchant-register__header--content">
                                <div class="merchant-register__header--content__title">GIẢI PHÁP CÔNG NGHỆ TỐI ƯU</div>
                                <div class="merchant-register__header--content__sub-title">Giải pháp công nghệ giúp Quán
                                    tối ưu trong vận hành và phát triển kinh doanh</div><a
                                    href="/account/login?login_flow=merchant-onboarding"><button
                                        class="merchant-register__header--btn">Đăng Ký Ngay</button></a>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="merchant-register__header"><img class="merchant-register__header--img"
                                src="/app/assets/img/merchant-register-landing-3.jpg?728fd3f52bfd3f08c5faa41ffdbd05b3"
                                alt="">
                            <div class="merchant-register__header--overlay"></div>
                            <div class="merchant-register__header--content">
                                <div class="merchant-register__header--content__title">KHỞI ĐỘNG VỚI GÓI TĂNG TRƯỞNG
                                    DOANH THU</div>
                                <div class="merchant-register__header--content__sub-title">Cơ hội tham gia gói Tăng
                                    trưởng doanh thu cho Quán mới với nhiều quyền lợi hấp dẫn &amp; giúp tăng doanh số
                                    hiệu quả.</div><a href="/account/login?login_flow=merchant-onboarding"><button
                                        class="merchant-register__header--btn">Đăng Ký Ngay</button></a>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="merchant-register__header"><img class="merchant-register__header--img"
                                src="/app/assets/img/merchant-register-landing-4.jpg?432338c5a793c6431b03d1d109e22d18"
                                alt="">
                            <div class="merchant-register__header--overlay"></div>
                            <div class="merchant-register__header--content">
                                <div class="merchant-register__header--content__title">TIẾP CẬN HÀNG TRIỆU KHÁCH HÀNG
                                </div>
                                <div class="merchant-register__header--content__sub-title">ShopeeFood giúp Quán tận dụng
                                    mạng lưới các kênh truyền thông kết nối hàng triệu người dùng trong hệ sinh thái
                                    Foody, Shopee và ShopeePay</div><a
                                    href="/account/login?login_flow=merchant-onboarding"><button
                                        class="merchant-register__header--btn">Đăng Ký Ngay</button></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="control-dots">
                <li class="dot" value="0"></li>
                <li class="dot selected" value="1"></li>
                <li class="dot" value="2"></li>
                <li class="dot" value="3"></li>
            </ul>
        </div>
    </div> -->
    <div class="merchant-register__body">
        <div class="merchant-register__body--block-online-register merchant-register__body__block">
            <div class="merchant-register__body--title">Trở thành quán đối tác ShopeeFood</div>
            <div class="merchant-register__body--separator"></div>
            <div class="merchant-register__body--sub-title">Đăng ký trực tuyến</div>
            <div class="merchant-register__body--online-register-icon-wrapper"><img
                    class="merchant-register__body--online-register-icon-wrapper--icon"
                    src="/app/assets/img/merchant-register-online-register-icon.svg?61b0c9cd21ee8ae2bc4b1a2a4530f245"
                    alt=""></div>
            <div class="merchant-register__body--list">
                <div class="merchant-register__body--online-register-item"><img
                        src="/app/assets/img/merchant-register-online-register-icon-1.svg?e8856309fd334025c5c57e8e4fa20d94"
                        alt="">
                    <div class="merchant-register__body--online-register-item--content">
                        <div class="merchant-register__body--item-title">Cung Cấp Thông Tin Của Quán</div>
                        <div class="merchant-register__body--item-content"><span><span>Chủ động cung cấp các thông tin
                                    chi tiết của Quán bằng cách nhấp vào nút Đăng Ký bên dưới. Xem hướng dẫn chi tiết
                                    cách điền thông tin tại <a rel="noopener noreferrer" target="_blank"
                                        href="https://www.shopeefood.vn/merchant-register/usermanual.pdf">ĐÂY</a></span></span>
                        </div>
                    </div>
                </div>
                <div class="merchant-register__body--online-register-item"><img
                        src="/app/assets/img/merchant-register-online-register-icon-2.svg?533e1c276042d8cdae1b3ed22958a9c7"
                        alt="">
                    <div class="merchant-register__body--online-register-item--content">
                        <div class="merchant-register__body--item-title">Ký Hợp Đồng</div>
                        <div class="merchant-register__body--item-content">ShopeeFood sẽ liên hệ với Quán để lên lịch
                            hẹn tới văn phòng của ShopeeFood và ký hợp đồng đối tác.</div>
                    </div>
                </div>
                <div class="merchant-register__body--online-register-item"><img
                        src="/app/assets/img/merchant-register-online-register-icon-3.svg?64a02d2cd7298bc5025f2f3f79d1f64f"
                        alt="">
                    <div class="merchant-register__body--online-register-item--content">
                        <div class="merchant-register__body--item-title">Bắt Đầu Kinh Doanh Trên ShopeeFood</div>
                        <div class="merchant-register__body--item-content">Đăng nhập ứng dụng ShopeeFood Merchant và bắt
                            đầu kinh doanh trên ShopeeFood.</div>
                    </div>
                </div>
            </div>
            <div class="merchant-register__body--block-online-register--extra-info"><a
                    href="/account/login?login_flow=merchant-onboarding"><button
                        class="merchant-register__header--btn">Đăng Ký Ngay</button></a>
                <div class="merchant-register__body--block-online-register--extra-info--content">Nếu bạn có thắc mắc
                    hoặc gặp vấn đề trong quá trình đăng ký vui lòng liên hệ Hotline 19002042 hoặc Email:
                    merchantsupport@foody.vn để được hỗ trợ.</div>
            </div>
        </div>
        <div class="merchant-register__body__block block-background-gray">
            <div class="merchant-register__body--title"><span><span>Các giấy tờ cần thiết <br></span><span>khi ký hợp
                        đồng làm Đối tác ShopeeFood</span></span></div>
            <div class="merchant-register__body--separator"></div>
            <div class="merchant-register__body--list">
                <div class="merchant-register__body--sign-contract-item"><img
                        src="/app/assets/img/merchant-register-sign-contract-icon-1.png?d7778600e69438ba243c7c5086d9985d"
                        alt="">
                    <div class="merchant-register__body--sign-contract-item--content"><img alt=""
                            src="/app/assets/img/merchant-register-sign-contract-icon.png?18a627605406021ab85ca65a4b547ae8">
                        <div class="merchant-register__body--item-title">Đối với hợp đồng ký với tư cách pháp nhân là Cá
                            Nhân, Hộ Kinh Doanh</div>
                        <div class="merchant-register__body--item-content"><span><span>• CMND/CCCD/Hộ chiếu (bản
                                    gốc)<br></span><span> • Giấy Đăng ký Hộ kinh doanh cá thể (nếu có)
                                    <br></span><span>• Thực đơn Quán</span></span></div>
                    </div>
                </div>
                <div class="merchant-register__body--sign-contract-item"><img
                        src="/app/assets/img/merchant-register-sign-contract-icon-2.png?862276a8c9527c989a01e5b2b4faa27c"
                        alt="">
                    <div class="merchant-register__body--sign-contract-item--content"><img alt=""
                            src="/app/assets/img/merchant-register-sign-contract-icon.png?18a627605406021ab85ca65a4b547ae8">
                        <div class="merchant-register__body--item-title">Đối với hợp đồng ký với tư cách pháp nhân là
                            Công Ty</div>
                        <div class="merchant-register__body--item-content"><span><span>• Giấy Phép Đăng Ký Kinh Doanh
                                    (bản gốc)<br></span><span>• Giấy ủy quyền cho người đại diện ký thay (bản
                                    gốc)<br></span><span>• CMND/CCCD/Hộ chiếu người đại diện (bản gốc)<br></span><span>•
                                    Thực đơn Quán</span></span></div>
                    </div>
                </div>
                <div class="merchant-register__body--sign-contract-item"><img
                        src="/app/assets/img/merchant-register-sign-contract-icon-3.png?10eca332148214e31006ac67ef9cdb4b"
                        alt="">
                    <div class="merchant-register__body--sign-contract-item--content"><img alt=""
                            src="/app/assets/img/merchant-register-sign-contract-icon.png?18a627605406021ab85ca65a4b547ae8">
                        <div class="merchant-register__body--item-title">Đối với hợp đồng ký với tư cách pháp nhân là
                            Công Ty Chi Nhánh</div>
                        <div class="merchant-register__body--item-content"><span><span>• Giấy Phép Đăng Ký Kinh Doanh
                                    Công Ty Chi Nhánh (bản gốc)<br></span><span>• Giấy ủy quyền cho người đại diện ký
                                    thay (bản gốc), người được ủy quyền ký phải nhận ủy quyền từ Công Ty
                                    Tổng<br></span><span>• CMND/CCCD/Hộ chiếu người đại diện (bản gốc)<br></span><span>•
                                    Thực đơn Quán</span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="merchant-register__body--block-testimonial merchant-register__body__block">
            <div class="merchant-register__body--title">đối tác nói gì về ShopeeFood?</div>
            <div class="merchant-register__body--separator"></div>
            <div class="merchant-register__body--list">
                <div class="merchant-register__body--testimonial-item"><img
                        src="/app/assets/img/merchant-register-testimonial-icon-1.jpg?360f65bd516c84e928e955bd16d4f32e"
                        alt="">
                    <div class="merchant-register__body--testimonial-item--content"><img
                            src="/app/assets/img/merchant-register-test-imotional-icon.png?db542a2ec747020922d8b23962c01de9"
                            alt="">
                        <div>
                            <div class="merchant-register__body--item-title">THE CUPS COFFEE</div>
                            <div class="merchant-register__body--item-content"><span><span>- Đà Nẵng <br></span><span>-
                                        Trước đây, phần lớn doanh thu của chúng tôi đến từ khách hàng thưởng thức tại
                                        quán, thì nay hình thức đặt hàng trực tuyến đã đóng góp hơn 70% doanh thu và hỗ
                                        trợ duy trì phát triển kinh doanh ổn định. Trong đó, ShopeeFood vẫn luôn đóng
                                        vai trò quan trọng hơn hết.</span></span></div>
                        </div>
                    </div>
                </div>
                <div class="merchant-register__body--testimonial-item"><img
                        src="/app/assets/img/merchant-register-testimonial-icon-2.jpg?4a97c2da05d7c83e0ebad9319644ed65"
                        alt="">
                    <div class="merchant-register__body--testimonial-item--content"><img
                            src="/app/assets/img/merchant-register-test-imotional-icon.png?db542a2ec747020922d8b23962c01de9"
                            alt="">
                        <div>
                            <div class="merchant-register__body--item-title">Bánh mì Minh Nhật</div>
                            <div class="merchant-register__body--item-content"><span><span>- Hà Nội <br></span><span>-
                                        Nhờ có ShopeeFood, việc đảm bảo kinh doanh và vận hành trong thời kỳ dịch bệnh
                                        diễn biến phức tạp không còn là nỗi lo cho những người làm nghề như chúng tôi.
                                        Doanh thu chúng tôi nhận được từ việc giao nhận thức ăn qua ShopeeFood giữ mức
                                        tăng trưởng hiện tại hơn 20% và lượng đơn hàng tăng gần 30% so với trước
                                        Tết.</span></span></div>
                        </div>
                    </div>
                </div>
                <div class="merchant-register__body--testimonial-item"><img
                        src="/app/assets/img/merchant-register-testimonial-icon-3.jpg?7651bfac6e5e55e364f43b439463d4e7"
                        alt="">
                    <div class="merchant-register__body--testimonial-item--content"><img
                            src="/app/assets/img/merchant-register-test-imotional-icon.png?db542a2ec747020922d8b23962c01de9"
                            alt="">
                        <div>
                            <div class="merchant-register__body--item-title">long kee cha</div>
                            <div class="merchant-register__body--item-content"><span><span>- TP. Hồ Chí
                                        Minh<br></span><span>- Là một startup mới trong ngành dịch vụ ăn uống tại thời
                                        điểm bất lợi như hiện nay, việc phối hợp cùng dịch vụ đặt thức ăn trực tuyến và
                                        giao nhận như ShopeeFood giúp chúng tôi tiếp cận nguồn khách hàng ẩm thực tiềm
                                        năng tại thành phố HCM một cách nhanh chóng…, kết quả thể hiện rõ rệt ở mức tăng
                                        trưởng hơn 30% doanh thu so với thời điểm chúng tôi chỉ tập trung bán tại
                                        Quán.</span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>