.merchant-register {
    background-color: #fff;
    padding-top: 70px;
}

.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.merchant-register * {
    font-family: Shopee;
}
.carousel {
    position: relative;
    width: 100%;
}
.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height .15s ease-in;
}
.merchant-register * {
    font-family: Shopee;
}
.carousel * {
    box-sizing: border-box;
}
.merchant-register .carousel .control-dots {
    padding-left: 0;
}
@media (min-width: 960px){
    .carousel .control-dots {
        bottom: 0;
    }
}
.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.merchant-register * {
    font-family: Shopee;
}
.carousel * {
    box-sizing: border-box;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}
.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
}
.carousel .slider.animated {
    transition: all .35s ease-in-out;
}
.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
}
.carousel .slider.animated {
    transition: all .35s ease-in-out;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: column;
    flex-flow: column;
}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000;
}
.merchant-register__header {
    position: relative;
}
.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
}
.carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none;
}
.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
}
.carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none;
}
.merchant-register__header--img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 5;
}


.merchant-register__header--content {
    padding-bottom: 50px;
    top: 0;
    margin-top: 138px;
}

.merchant-register__header--content {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 10;
    width: 100%;
}
.merchant-register__header--overlay {
    background: #000;
    opacity: .45;
    z-index: 7;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.merchant-register__header--content__title {
    padding: 0 55px;
    margin-bottom: 25px;
}
.merchant-register__header--content__title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
    font-weight: 900;
}
.merchant-register__header--content__sub-title, .merchant-register__header--content__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.merchant-register__header--content__sub-title {
    margin-bottom: 30px;
    padding: 0 55px;
}
.merchant-register__header--content__sub-title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 8px;
    width: 100%;
}
.merchant-register__header--content__sub-title, .merchant-register__header--content__title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.carousel button {
    outline: 0;
    border: 0;
    background: 0 0;
}
.merchant-register__header--btn {
    padding: 12px 25px 8px;
    border-radius: 2px;
    font-size: 16px;
}
.merchant-register__header--btn {
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d!important;
    cursor: pointer;
    text-align: center;
}
.merchant-register__body {
    padding: 48px 0 26px;
}
.merchant-register__body {
    padding-bottom: 10px;
}
.merchant-register__body--block-online-register {
    padding: 32px calc((100% - 1200px) / 2 + 50px) 34px!important;
}
.merchant-register__body__block {
    padding: 32px calc((100% - 1200px) / 2) 34px;
}
.merchant-register__body__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.merchant-register__body--title {
    font-size: 36px;
    padding: 0 100px;
}
.merchant-register__body--sub-title, .merchant-register__body--title {
    color: #ee4d2d;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.merchant-register__body--separator {
    margin: 25px 0;
}
.merchant-register__body--separator {
    width: 118px;
    height: 6px;
    border-radius: 3px;
    background: #f3f3f3;
}
.merchant-register__body--sub-title {
    font-size: 32px;
}
.merchant-register__body--sub-title, .merchant-register__body--title {
    color: #ee4d2d;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.merchant-register__body--online-register-icon-wrapper {
    position: relative;
    margin-bottom: 16px;
}
.merchant-register__body--online-register-icon-wrapper--icon {
    height: 72px;
}
.merchant-register__body--block-online-register--extra-info {
    text-align: right;
    margin-top: 20px;
}
.merchant-register__body--block-online-register--extra-info {
    width: 100%;
}
.merchant-register__body--list {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.merchant-register__body--list {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.merchant-register__body--list>div {
    height: inherit;
}
.merchant-register__body--online-register-item {
    width: 350px;
    position: relative;
    padding-top: 90px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.merchant-register__body--online-register-item>img {
    position: absolute;
    height: 120px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.merchant-register__body--online-register-item--content {
    padding-top: 30px;
    border-radius: 10px;
    background-color: #f3f3f3;
    -ms-flex: 1 1;
    flex: 1 1;
}
.merchant-register__body--item-title {
    font-size: 18px;
}

.merchant-register__body--item-title {
    padding: 10px 20px 0;
    font-weight: 700;
    color: #ee4d2d;
}

.merchant-register__body--item-content {
    padding: 10px 20px 20px;
}

element.style {
}
.merchant-register__body--block-online-register--extra-info .merchant-register__header--btn {
    font-size: 15px;
    padding: 10px 15px 5px;
}
.merchant-register__body--block-online-register--extra-info .merchant-register__header--btn {
    border-radius: 8px!important;
    border: none!important;
}
.merchant-register__header--btn {
    color: #fff;
    text-transform: uppercase;
    background: #ee4d2d!important;
    cursor: pointer;
    text-align: center;
}
.merchant-register__body--block-online-register--extra-info--content {
    width: 500px;
    margin-left: auto;
}

.merchant-register__body--block-online-register--extra-info--content {
    margin-top: 15px;
    font-style: italic;
}
.merchant-register__body__block.block-background-gray {
    background: #f3f3f3;
}
.merchant-register__body__block {
    padding: 32px calc((100% - 1200px) / 2) 34px;
}
.merchant-register__body__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.merchant-register__body--sub-title, .merchant-register__body--title {
    color: #ee4d2d;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.merchant-register__body__block.block-background-gray .merchant-register__body--separator {
    background: #fff!important;
}
.merchant-register__body--separator {
    margin: 25px 0;
}
.merchant-register__body--separator {
    width: 118px;
    height: 6px;
    border-radius: 3px;
    background: #f3f3f3;
}

.merchant-register__body--list {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.merchant-register__body--list {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.merchant-register__body--list>div {
    height: inherit;
}
.merchant-register__body--sign-contract-item {
    width: 378px;
    position: relative;
    padding-top: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.merchant-register__body--sign-contract-item>img {
    position: absolute;
    height: 125px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.merchant-register__body--sign-contract-item--content {
    -ms-flex: 1 1;
    flex: 1 1;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 22px 0 rgb(0 0 0 / 4%);
}
.merchant-register__body--sign-contract-item--content img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.merchant-register__body--item-title {
    font-size: 18px;
}

.merchant-register__body--item-title {
    padding: 10px 20px 0;
    font-weight: 700;
    color: #ee4d2d;
}
.merchant-register__body--item-content {
    padding: 10px 20px 20px;
}
.merchant-register__body--testimonial-item>img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 46px;
    margin-left: 24px;
    margin-bottom: 20px;
    -o-object-fit: cover;
    object-fit: cover;
}
.merchant-register__body--testimonial-item--content>img {
    height: 21px;
    width: 27px;
    margin-top: 9px;
    margin-left: 20px;
}
.merchant-register__body--testimonial-item--content .merchant-register__body--item-title {
    text-transform: uppercase;
    font-weight: 800;
}
.merchant-register__body--item-title {
    font-size: 18px;
}
.merchant-register__body--item-title {
    padding: 10px 20px 0;
    font-weight: 700;
    color: #ee4d2d;
}
.merchant-register__body--list>div {
    height: inherit;
}
.merchant-register__body--testimonial-item {
    width: 376px;
    border-radius: 20px;
    box-shadow: 0 0 22px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
}
.merchant-register__body--item-content {
    padding: 10px 20px 20px;
}