
@media (min-width: 992px){
    .header, .header__left {
        display: flex;
        align-items: center;
    }
    .header {
        height: 56px;
        background: #ee4d22;
        justify-content: space-between;
        padding: 0 20px;
    }
    .header__left {
    cursor: pointer;
}
.header, .header__left {
    display: flex;
    align-items: center;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__icon-home {
    margin-right: 15px;
}
.header__title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.header__right--action {
    cursor: pointer;
    margin-left: 18px;
    color: #fff;
}
.header__right--action {
    cursor: pointer;
    margin-left: 18px;
    color: #fff;
}
.header__right--last {
    position: relative;
    margin-left: 23px;
}
.header__right--action {
    cursor: pointer;
    margin-left: 18px;
    color: #fff;
}
.header__right--action-text {
    vertical-align: super;
    margin-left: 6px;
}
}
@media (max-width: 991px) {
    .header, .header__left {
        display: flex;
        align-items: center;
    }
    .header {
        height: 56px;
        background: #ee4d22;
        justify-content: space-between;
        padding: 0 20px;
    }
    .header__left {
    cursor: pointer;
}
.header, .header__left {
    display: flex;
    align-items: center;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__icon-home {
    margin-right: 15px;
}
.header__title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.header__right--action {
    cursor: pointer;
    margin-left: 18px;
    color: #fff;
}
.header__right--action {
    cursor: pointer;
    margin-left: 18px;
    color: #fff;
}
.header__right--last {
    position: relative;
    margin-left: 23px;
}
.header__right--action {
    cursor: pointer;
    margin-left: 18px;
    color: #fff;
}
.header__right--action-text {
    vertical-align: super;
    margin-left: 6px;
}
}
.icon {
    line-height: 0;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #4982f1;
    cursor: pointer;
}
a {
    background-color: transparent;
}
