@media (min-width: 992px){
    .wrapper {
        background: #f5f5f5;
    }
    .check-shop {
        padding: 24px 0;
        font-size: 14px;
    }
    .container {
        width: 1136px;
        margin: auto;
    }
    .check-shop__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 6px;
    }
    .check-shop__desc {
        color: #969aa3;
        margin-bottom: 20px;
    }
    .check-shop__filter {
        padding: 20px;
        background: #fff;
        border-radius: 2px;
        display: flex;
        margin: 0;
    }
    .check-shop__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 6px;
    }
    .rc-select .rc-select-arrow, .rc-select .rc-select-clear {
        height: 32px;
        line-height: 32px;
    }
    .check-shop__filter__btn-search .btn {
        min-width: unset;
    }
    .btn {
        min-height: 32px;
        font-size: 14px;
        border-radius: 2px;
        min-width: unset;
 
    }
    .check-zone__model {
        width: 400px!important;
    }
    .alert-modal {
        z-index: 1000!important;
    }
    .check-zone__model .modal-wrapper__body {
        padding-top: 12px;
    }
    .modal-wrapper__body {
        padding: 20px 0 0;
    }
    .check-zone__model-cotainer {
        display: flex;
    }
    .check-zone__model-cotainer .icon {
        margin-right: 16px;
        flex-basis: auto;
    }
    .check-zone__model-content {
        display: flex;
        flex-direction: column;
        flex: 1 1;
    }
    .check-zone__model-survey {
        font-size: 16px;
        margin: 1px 0 0;
        line-height: 24px;
    }
    .check-zone__model-tips {
        font-size: 14px;
        line-height: 24px;
    }
    .modal-wrapper__footer {
        padding: 20px 0 0;
        text-align: right;
    }
}
.btn__text {
    display: inline-block;
    line-height: 1.5;
}
.btn {
    min-width: 120px;
    min-height: 40px;
    background: #fff;
    color: #232831;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    padding: 0 16px;
    line-height: 1.5;
    color: rgba(0,0,0,.87);
}

button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.btn+.btn {
    margin-left: 16px;
}
.btn--primary {
    background: #ee4d22;
    color: #fff;
    border-color: #ee4d22;
}
.rc-select .rc-select-arrow, .rc-select .rc-select-clear {
    height: 32px;
    top: 0;
    line-height: 32px;
    width: 20px;
    right: 0;
}

.rc-select-show-arrow .rc-select-arrow {
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.icon {
    line-height: 0;
    display: inline-block;
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

@media only screen and (min-width: 75em){
    .container {
        width: 71rem;
    }
}
@media only screen and (min-width: 62em){
    .container {
        width: 61rem;
    }
    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .col-xs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.rc-select {
    min-width: 200px;
    width: 100%;
    max-height: 300px;
    color: rgba(0,0,0,.87);
    height: 32px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    line-height: 14px;
}
.rc-select {
    display: inline-block;
    font-size: 12px;
    width: 100px;
    position: relative;
}
.rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
    padding: 1px;
    border: 1px solid #000;
}
.rc-select .rc-select-selector {
    height: 32px;
    line-height: 32px;
    border: 0!important;
}
.rc-select-single .rc-select-selector {
    display: flex;
    position: relative;
}
.rc-select-single .rc-select-selector .rc-select-selection-search, .rc-select-single .rc-select-selector .rc-select-selection-search-input {
    width: 100%;
}
.rc-select-single .rc-select-selector .rc-select-selection-item, .rc-select-single .rc-select-selector .rc-select-selection-placeholder {
    position: absolute;
    top: 1px;
    left: 3px;
    pointer-events: none;
}
.rc-select-selection-item, .rc-select-selection-placeholder {
height: 30px;
top: 0!important;
left: 0!important;
margin-left: 15px;
margin-right: 28px;
}
.rc-select-single:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
    border: none;
    outline: none;
    background: rgba(255,0,0,.2);
    width: 100%;
}
.rc-select-single .rc-select-selector .rc-select-selection-search, .rc-select-single .rc-select-selector .rc-select-selection-search-input {
    width: 100%;
}
.rc-select .rc-select-selection-search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.rc-select-selection-search-input {
    background-color: transparent!important;
}
.rc-select-selection-search-input {
    padding: 0 15px;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.ReactModal__Overlay{
    display: none;
}