<div class="wrapper">
    <div class="container check-shop">
        <div class="check-shop__title">ShopeeFood sẽ phải kiểm tra xem quán của bạn có nằm trong khu vực giao hàng của
            ShopeeFood</div>
        <div class="check-shop__desc">Vui lòng chọn thành phố của quán bên dưới. Bạn chỉ có thể tạo quán trên ShopeeFood
            nếu quán nằm trong khu vực phục vụ của ShopeeFood. Nếu quán không nằm trong khu vực giao hàng của
            ShopeeFood, bạn có thể đăng ký quán lên Foody.</div>
        <div class="row check-shop__filter">
            <div class="col-xs-12 col-md-6 check-shop__filter__search-input">
                <div class="rc-select select rc-select-single rc-select-show-arrow rc-select-show-search">
                    <div class="rc-select-selector"><span class="rc-select-selection-search"><input autocomplete="off"
                                type="search" class="rc-select-selection-search-input" role="combobox"
                                aria-haspopup="listbox" aria-owns="rc_select_2_list" aria-autocomplete="list"
                                aria-controls="rc_select_2_list" aria-activedescendant="rc_select_2_list_0" value=""
                                id="rc_select_2"></span><span class="rc-select-selection-item" title="Hà Nội">Hà
                            Nội</span></div><span class="rc-select-arrow" unselectable="on" aria-hidden="true"
                        style="user-select: none;"><i class="icon"><svg width="9" height="9" viewBox="0 0 14 14"
                                fill="none">
                                <path
                                    d="M12.246 4.103a.604.604 0 01-.131.374l-4.661 5.794a.598.598 0 01-.931 0l-4.636-5.77a.597.597 0 01.93-.747l4.172 5.19 4.195-5.216a.597.597 0 011.062.375z"
                                    fill="#000" fill-opacity="0.25"></path>
                                <path
                                    d="M12.246 4.103a.604.604 0 01-.131.374l-4.661 5.794a.598.598 0 01-.931 0l-4.636-5.77a.597.597 0 01.93-.747l4.172 5.19 4.195-5.216a.597.597 0 011.062.375z"
                                    fill="#000" fill-opacity="0.25"></path>
                            </svg></i></span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 check-shop__filter__btn-search"><button class="btn btn--primary"
                    type="button"><span class="btn__text">Kiểm tra</span></button></div>
        </div>
    </div>
</div>

<div class="ReactModalPortal">
    <div class="ReactModal__Overlay ReactModal__Overlay--after-open"
        style="position: fixed;inset: 0px;background-color: rgba(0, 0, 0, 0.5);z-index: 100;">
        <div class="ReactModal__Content ReactModal__Content--after-open modal-wrapper alert-modal check-zone__model"
            tabindex="-1" role="dialog"
            style="position: absolute; inset: 50vh 0px auto 50vw; background: rgb(255, 255, 255); overflow: auto; border-radius: 2px; outline: none; border: 1px solid rgb(230, 236, 243); padding: 20px; width: 800px; max-height: 90vh; transform: translate(-50%, -50%);">
            <div class="modal-wrapper__body">
                <div class="check-zone__model-cotainer"><i class="icon"><svg width="24" height="24" viewBox="0 0 24 24"
                            fill="none">
                            <path
                                d="M12 1.5C6.202 1.5 1.5 6.202 1.5 12S6.202 22.5 12 22.5 22.5 17.798 22.5 12 17.798 1.5 12 1.5zm0 19.219A8.72 8.72 0 013.281 12 8.72 8.72 0 0112 3.281 8.72 8.72 0 0120.719 12 8.72 8.72 0 0112 20.719z"
                                fill="#FAAD14"></path>
                            <path
                                d="M10.875 16.125a1.125 1.125 0 102.25 0 1.125 1.125 0 00-2.25 0zm.563-2.625h1.124a.188.188 0 00.188-.188V6.939a.188.188 0 00-.188-.188h-1.124a.188.188 0 00-.188.188v6.375c0 .103.084.187.188.187z"
                                fill="#FAAD14"></path>
                        </svg></i>
                    <div class="check-zone__model-content">
                        <p class="check-zone__model-survey" style="font-weight: 600;">ShopeeFood hiện tại chưa cung cấp
                            dịch vụ giao hàng tại khu vực quán của bạn</p>
                        <p class="check-zone__model-tips">Tuy nhiên, bạn có thể đăng ký quán trên Foody. Bạn có muốn
                            tiếp tục không?</p>
                    </div>
                </div>
            </div>
            <div class="modal-wrapper__footer"><button class="btn" type="button"><span
                        class="btn__text">Huỷ</span></button><button class="btn btn--primary" type="button"><span
                        class="btn__text">Đăng ký quán trên Foody</span></button></div>
        </div>
    </div>
</div>