<div>
    <div class="sidebar-collapse">
        <div class="wrapper">
            <header class="main-header">
                <div class="container-fluid row row justify-content-between align-items-center">
                    <div class="col row justify-content-between align-items-center no-gutters">
                        <div class="icon-sidebar-menu"><i class="fas fa-bars" style="font-size: 25px;"></i></div>
                        <div class="col-auto header-right-wrap">
                            <div class="user-profile">
                                <div class="dropdown-toggle"><img
                                        src="{{shop.avatar}}"
                                        width="40" height="40" alt=" " class="mr-2" style="border-radius: 50%;">{{shop.name}}</div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
            <div class="chat-box-wrapper" style="bottom: 69px;"></div>
            <footer class="main-footer">
                <div class="container-inner clearfix">
                    <div class="float-left">Powered by Marketgo</div>
                    <div class="float-right">Version 1.0.0</div>
                </div>
            </footer>
        </div>
        <div class="page-sidebar navbar-collapse">
            <div class="page-sidebar-header"><span aria-hidden="true"><span><img src="assets/img/icon.png" alt=""
                            class="iconb"></span></span></div>
            <ul class="page-sidebar-menu">
                <li class="nav-item active active-link "><span class="nav-link">
                        <div class="icon">
                            <i class="fab fa-dashcube" style="font-size: 30px;
                            margin-bottom: 7px;"></i>
                        </div><a class="title" href="#">Tổng hợp</a>
                    </span></li>
                    <li class="nav-item active"><span class="nav-link">
                        <div class="icon">
                            <i class="fas fa-dice-d6" style="font-size: 30px;
                            margin-bottom: 7px;"></i>
                        </div><a class="title" href="/merchant/order">Quản lý đơn hàng</a>
                    </span></li>
                    <li class="nav-item active "><span class="nav-link">
                        <div class="icon">
                            <i class="fas fa-tasks" style="font-size: 30px;
                            margin-bottom: 7px;"></i>
                        </div><a class="title" href="/merchant/category">Quản lý sản phâm</a>
                    </span></li>
            </ul>
        </div>
        <div class="Toastify"></div>
    </div>
</div>