.wrapper {
    margin-left: 280px;
    transition: all .3s;
    background: #ececec;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
.page-sidebar, .page-sidebar .page-sidebar-menu {
    color: rgba(0,0,0,.26);
    background-color: #fff;
}
.page-sidebar {
    font-size: 14px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 6%);
    transition: all .3s;
}
.page-sidebar .page-sidebar-header {
    font-size: 16px;
    background-color: #fff;
    font-weight: 700;
    height: 70px;
    line-height: 70px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 6%);
}
.page-sidebar, .page-sidebar .page-sidebar-menu {
    color: rgba(0,0,0,.26);
    background-color: #fff;
}
.page-sidebar li, .page-sidebar ul {
    list-style: none;
    padding: 0;
}

.iconb{
    width: 158px;
    height: 45px;
    margin-left: 15px;
    margin-top: 15px;
}
.page-sidebar .nav-item {
    position: relative;
}
.page-sidebar li, .page-sidebar ul {
    list-style: none;
    padding: 0;
}
.page-sidebar .nav-item.active-link .nav-link {
    background-color: #fff4f4;
}
.page-sidebar .nav-link {
    cursor: pointer;
    position: relative;
    padding: 2px 3px;
    font-weight: 700;
    padding-left: 15px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.page-sidebar .nav-item .icon {
    font-size: 40px;
    color: rgba(0,0,0,.65);
}
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.page-sidebar .nav-item.active .nav-link a {
    color: rgba(0,0,0,.65);
}
.page-sidebar a {
    color: #b8c7cd;
}
a {
    color: #08f;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.title{    
    margin-left: 15px;
}
.main-header {
    color: rgba(0,0,0,.87);
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 7px;
    position: fixed;
    left: 280px;
    right: 0;
    top: 0;
    z-index: 1;
    height: 70px;
    transition: all .3s;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 6%);
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.container-fluid {
    height: 100%;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;    
    padding-right: 10px;
    padding-left: 10px;
}

.no-gutters {
    display: flex;
}   
.main-header .icon-sidebar-menu {
    cursor: pointer;
    display: block;
}
.main-header .user-profile {
    display: inline-block;
    position: relative;
    padding: 10px 24px 10px 0;
    border-right: 1px solid #e3e3e3;
    margin-right: 24px;
}
.main-header .user-profile .dropdown-toggle {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    align-items: center;
    display: flex;
}

.nav-link{
    display: flex;
    align-items: center;
}
.main-footer {
    padding: 28px;
    background-color: #fff;
    position: relative;
    transition: width .25s;
    transition-timing-function: linear;
    z-index: 2;
    font-size: 12px;
    line-height: 14px;
}
.main-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 30px;
    min-height: calc(100vh - 144px);
    background-color: #ececec;
    padding: 15px;
    margin-top: 75px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}