<div class="container" (focus)="scrolldiv()">
    <div class="now-container-coporation">
        <h4 class="title">
            <span>Đơn hàng của bạn sẽ được bảo quản như thế nào?</span>            
        </h4>
        <span>
            <p class="font15">
                Marketgo sẽ nhanh chóng giao hàng và bảo quản đơn hàng của bạn bằng túi hoặc thùng giữ nhiệt để chống nắng, mưa và giữa nhiệt trên đường vận chuyển một cách tốt nhất. Đảm bảo đơn hàng của bạn sẽ chất lượng như lúc bắt đầu ship.
            </p>
        </span>
        <img src="assets/img/transport.png" alt="food preservation">
    </div>
    <div class="now-container-coporation img-right">
        <h4 class="title">
            <span>Marketgo Merchant</span>            
        </h4>
        <span>
            <p class="font14">
                - Marketgo Merchant là ừng dụng quản lý đơn hàng, cửa hàng cho các nhà hàng đối tác của dịch vụ đặt món tận nơi
            </p>
            <p class="font14">
                Marketgo luôn sẵn sàng hợp tác với các nhà hàng, quán ăn, cafe... để mở rộng kinh doanh cũng như gia tăng khách hàng. Hãy kết nối vào hệ thống đặt và giao hàng để giảm bớt chi phí quản lý, vận hành, marketing, công nghệ...
                <br>
                Đăng ký tham gia: 
                <b><a href="/register/basicinfo" target="blank">tại đây</a></b>
            </p>
        </span>
        <div class="bg-corporation">
            <img src="assets/img/iconrestaurant.png" alt="" style="height: 288px;">
        </div>
    </div>
    <div class="now-container-coporation img-right">
        <h4 class="title">
            <a href="#">
                <span><span style="color: #EE4D2D; font-weight: bold;">Marketgo</span> Hợp tác nhân viên giao vận</span>
            </a>            
        </h4>
        <span>
            <p class="font15">
                Giúp bạn tăng thu nhập trong thời gian rảnh rỗi
            </p>
            <p>
                <span style="color: #EE4D2D; font-weight: bold;">Marketgo</span>
                tìm kiếm hợp tác với các cá nhân để thực hiện việc giao hàng, chúng tôi sẽ cung cấp ứng dụng (app), 1 số dụng cụ cần thiết để bạn có thể tiếp nhận & giao hàng, kiếm thêm thu nhập 
                <br>
                Đăng ký tham gia
                <a href="/registerdriver" target="_blank" style="color: #4D77A2; font-weight:bold">tại đây</a>
            </p>
        </span>
        <div class="bg-corporation">
            <img src="assets/img/takeaway.jpg" alt="">
        </div>
    </div>
</div>
