.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.now-container-coporation {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(50 50 50 / 10%);
    -moz-box-shadow: 0 2px 2px 0 rgba(50,50,50,.1);
    -webkit-box-shadow: 0 2px 2px 0 rgb(50 50 50 / 10%);
    padding: 20px 150px 5px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
    display: inline-block;
    margin-top: 130px;
}
.now-container-coporation .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.h4, h4 {
    font-size: 1.3125rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.font15 {
    font-size: .938rem!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

.now-container-coporation.img-right {
    padding: 50px 350px 50px 150px;
}
.font14 {
    font-size: .875rem!important;
}

.now-container-coporation .bg-corporation {
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 2;
    line-height: 0;
    text-align: center;
    width: 350px;
}
b, strong {
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: #0288d1;
}